<ng-template #batchUploadNSS let-c="close" let-d="dismiss">
    <div>
        <div class="modal-header">
            <ng-container><div class="title"> Batch Upload </div></ng-container>
            <button class="icon-button" (click)="d('closed'); selectUpload = false; clearTable()"><i class="far fa-times"></i></button>
        </div>
        <div class="modal-body batch-scrollbars">
            <div class="upload-type" *ngIf='!selectUpload'>    
                <button type="button" class="button blue" (click)='selectUpload = true;'>Upload Equations</button>
            </div>
            
            <div *ngIf="!selectUpload" class="upload-type">
                <h6>For an example template download the file <a href="./assets/example_nss_bulk_upload.xlsx">here</a>.</h6>
            </div>
            <!-- Back button -->
			<button *ngIf='selectUpload' type="button" class="button green" (click)='selectUpload = false; clearTable()'>Back</button>
			<!-- File selector -->
			<div class="upload-input">
                <input *ngIf='selectUpload && !tableDisplay' (change)="selectFile($event)" accept=".xls,.xlsx" type='file'/>
            </div>
            <!-- Select worksheet -->
            <div *ngIf="sheetNamesButtons">
                <h6 class="title">Select a Worksheet:</h6>
                <ng-container *ngFor="let sheetName of wb.SheetNames">
                        <button class="button grey mright-sm mtop-xs" (click)='selectSheet(sheetName)'>{{sheetName}}</button>
                </ng-container>
			</div>

            <div *ngIf="tableDisplay">
                <form class="editScen">
                    <div class="table-title" *ngFor="let e of equationData, let i = index">
                        <h4 [ngStyle]="{'color': success[i]}">Equation {{i+1}}</h4>
                        <div class="edit-scen-wrapper">
                            <h5 class="mtop-sm">Explanatory Variables</h5>
							<table class="custom-table">
								<thead>
									<tr>
										<th class="width-10">Code</th>
										<th class="width-15">Unit</th>
										<th class="width-10">Min Limit</th>
										<th class="width-10">Max Limit</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let p of e.regressionRegions[0].parameters">
										<td>{{ p.code }}</td>
										<td>{{ getUnitType(p.unitType.id) }}</td>
										<td>{{ p.limits.min }}</td>
										<td>{{ p.limits.max }}</td>
									</tr>
								</tbody>
							</table>
                            <h5 class="mtop-sm">Regressions</h5>
							<table class="custom-table">
								<thead>
									<tr>
										<th class="width-10">Region</th>
										<th class="width-20">Statistic Group</th>
										<th class="width-10">Regression Region</th>
										<th class="width-15">Regression Variable</th>
										<th class="width-10">Equation</th>
										<th class="width-10">Equivalent Years</th>
										<th class="width-20">Unit Type</th>
									</tr>
								</thead>
								<tbody>
                                    <td>{{ e.region.name }}</td>
                                    <td>{{ e.statisticGroupName }}</td>
                                    <td>{{ e.regressionRegions[0].name }}</td>
                                    <td>{{ e.regressionRegions[0].regressions[0].code }}</td>
                                    <td>{{ e.regressionRegions[0].regressions[0].equation }}</td>
                                    <td>{{ e.regressionRegions[0].regressions[0].equivalentYears }}</td>
                                    <td>{{ getUnitType(e.regressionRegions[0].regressions[0].unit.id) }}</td>
								</tbody>
							</table>
                        </div> <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-body-footer">
        <button type="button" *ngIf="tableDisplay" [disabled]="clicked" (click)="submitRecords(); clicked = true;" class="button blue">Create</button>
    </div>
</ng-template>
