<h3 class="mbottom-md">Unit Systems</h3>

<button [hidden]="loggedInRole !== 'Administrator'" type="button" class="button blue small" (click)="showNewForm()">
	<i class="fa fa-plus" aria-hidden="true"></i> 
	<span>Add New Unit System</span>
</button>

<form #UnitSystemForm="ngForm">
    <div class="form-group" *ngIf="unitSystems">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-2">Unit System</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of unitSystems; let i = index">
                    <td>
                        <div class="data-controls">
                            <i *ngIf="!u.isEditing" title="Edit Unit Type" (click)="EditRowClicked(i)" class="fa fa-pencil"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>&nbsp;
                            <i *ngIf="!u.isEditing" title="Delete Unit Type" (click)="deleteUnit(u.id)" class="fa fa-times"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="u.isEditing" title="Save Unit Type" (click)="saveUnitSystem(u,i)" class="fa fa-floppy-o"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="u.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="fa fa-history"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="!u.isEditing">{{ u.unitSystem }}</span>
                        <span *ngIf="u.isEditing"><input type="text" name="id" [(ngModel)]="u.unitSystem"
                                required></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />

<!-- new unit type form -->
<ng-template #add let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="title">New Unit Type</div>  
		<button (click)="d('closed')">&times;</button>                
	</div>
    <div class="modal-body">
        <form [formGroup]="newUnitSystemForm">
            <!-- Unit Type Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newUnitSystemForm.get('unitSystem').valid && newUnitSystemForm.get('unitSystem').dirty}">
                <label class="req" for="unitSystem">Unit System Name:</label>
                <input class="form-control" type="text" formControlName="unitSystem" required>
                <div class="input-invalid-warning" *ngIf="!newUnitSystemForm.get('unitSystem').valid && newUnitSystemForm.get('unitSystem').dirty">Unit
                    Unit System Name is required</div>
            </div>

        </form>

        <div class="modal-footer">
            <button type="button" (click)="d('clicked')" class="button">Cancel</button>
            <button type="button" (click)="createNewUnit()" [disabled]="!newUnitSystemForm.valid" class="button blue">Create</button>
        </div>
    </div>
</ng-template>