.scenario-dropdown {
    background-color: var(--grey);
    padding: 8px 6px 6px 6px;
    font-size: 14px;
	border-radius: var(--borderRadius);
	margin-bottom: 5px;
	display: flex;
	
	&:hover{
		cursor: pointer;
	}

	.showHideScen i {
		float: right;
		padding-right: 5px;
		font-size: 20px !important; /*need to center vertically*/
		bottom: 4px;
		position: relative;
	}

	.scenario-dropdown-title{
		display: flex;
		flex-grow: 3;

		span{
			font-size: 16px;
			font-weight: 600;
		}

		i{
			margin-left: 25px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	// Delete button
	.icon-button{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;

		&:hover{
			color: var(--red);
			span{
				color: var(--red);
			}
		}
	}
}

.map-container {
    height: 350px;
    margin-bottom: 15px;
}
  
.map-frame {
    border: 2px solid lightgrey;
    border-radius: 5px;
    height: 100%;
 }

 #map {
    height: 100%;
    border-radius: 3px;
}

.hidden {
    display: none;
}

button {
    margin-bottom: 5px;
    margin-right: 5px;
}

.newCitForm {
    margin-bottom: 0px;
}