<ng-template #about let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">About National Streamflow Statistics client application v{{appVersion}}</h4>  
            <button class="close pull-right" (click)="d('closed')">x</button>                
        </div>  
    </div>
    <div class="modal-body">
        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-info-circle"></i>&nbsp;&nbsp;About</ng-template>                    
                <ng-template ngbTabContent>
                    <h2 style="padding-top:2em">About National Streamflow Statistics (NSS) client application.</h2>
                    <p>
                            The National Streamflow Statistics (NSS) program provides the U.S. Geological Survey developed and published regression equations, 
                            such as mean annual and monthly mean flows, flow-duration percentiles, and peak and low flows for or every State, the Commonwealth of Puerto Rico, 
                            and several metropolitan areas in the United States. The NSS program is used for a variety of water-resource purposes, such as bridge and culvert 
                            design, and emergency planning and management such as drought and flood zone identification and total maximum daily load estimates in ungaged locations.
                        </p>
                        <p>
                            Much of the functionality in the NSS program is also available in the <a href="https://streamstats.usgs.gov"
                            target="_blank">StreamStats</a> application. StreamStats provides a map-based user interface that allows selection of 
                            interest and automates the process of computing basin characteristics and estimating flow statistics for ungaged sites. 
                            StreamStats also provide access to previously computed information for gaged sites. As a result, StreamStats normally 
                            should be used in areas where it is available. However, NSS has the additional capabilities of providing: (1) peak-flow 
                            frequency plots, (2) peak-flow hydrograph plots, (3) maximum flood estimates based on envelope curves developed by Crippen 
                            and Bue (1977), (4) peak-flow estimates for gaged sites determined by weighting estimates from the systematic record with 
                            those from the relevant regression equations, and (5) peak-flow estimates for ungaged sites that are determined by weighting
                            regression-based estimates for the sites with weighted estimates for a nearby gaged site.
                        </p>
                        <p>
                            The <a href="https://www.usgs.gov/software/national-streamflow-statistics-program-nss" target="_blank">NSS home page</a> provides links to a more detailed 
                            description of the program, a user's manual, descriptions of the outputs, definitions and streamflow statistics, limitations for use of the application, and 
                            other information.
                        </p>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-bell"></i>&nbsp;&nbsp;Disclaimer</ng-template>      
                <ng-template ngbTabContent>
                    <p>This software is preliminary or provisional and is subject to revision. It is being provided to meet the need for timely best science. 
                        The software has not received final approval by the U.S. Geological Survey (USGS). No warranty, expressed or implied, is made by the USGS 
                        or the U.S. Government as to the functionality of the software and related material nor shall the fact of release constitute any such warranty. 
                        The software is provided on the condition that neither the USGS nor the U.S. Government shall be held liable for any damages resulting from 
                        the authorized or unauthorized use of the software.
                    </p>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="fa fa-question-circle"></i>&nbsp;&nbsp;Help</ng-template>      
                <ng-template ngbTabContent>
                    <div style="padding-top: 10px;">
                        <span>Use the form below to get support on a specific issue. Please include as much information as possible.</span>                        
                        <form #f="ngForm" (ngSubmit)="submitFreshDeskTicket()">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" #email="ngModel"
                                                [class.is-invalid]="email.invalid" required
                                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" name="primaryEmail"
                                                [(ngModel)]="freshDeskTicket.email" 
                                            />                                                
                                        </div>
                                        <div *ngIf="email.errors && (email.invalid)">
                                            <small class="text-danger" *ngIf="email.errors.pattern">Please provide a valid email address</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="title">Subject:</label>
                                            <input class="form-control" id="title" [(ngModel)]="freshDeskTicket.subject" name ="subject" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Description:</label>
                                            <textarea class="form-control" rows="6" id="description" [(ngModel)]="freshDeskTicket.description" name = "description" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="title">Upload an Attachment (optional):</label><br />
                                            <span class="btn-file">
                                                <i class="fa fa-paperclip"></i>&nbsp;&nbsp;Attach File <input type="file" ngf-select (change)="uploadFile($event)" [(ngModel)]="freshDeskTicket.attachment" name="file" ngf-accept="'image/*'">
                                            </span>  
                                            <br />
                                            <i *ngIf="freshDeskTicket.attachment" (click)=removeFile() class="fa fa-trash">&nbsp;&nbsp;Remove File</i>
                                        </div>
                                        <button type="submit" [disabled]="!f.valid" class="btn-blue"><i class="fa fa-share"></i><span >&nbsp;&nbsp;Submit Support Request</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-black" (click)="d('closed')">
            <i class="fa fa-close"></i>
            <span>&nbsp;&nbsp;Close</span>
        </button>
    </div>
</ng-template>