<ng-template #about let-c="close" let-d="dismiss">
    <div class="modal-header">
		<div class="title">About National Streamflow Statistics client application v{{appVersion}}</div>  
		<button class="icon-button" (click)="d('closed')"><i class="far fa-times"></i></button>                
    </div>
    <div class="modal-body modal-body-fixed">
        <ngb-tabset class="fixed-tabs">
            <ngb-tab>
                <ng-template ngbTabTitle><i class="far fa-info-circle"></i>About</ng-template>                    
                <ng-template ngbTabContent>
                    <h2 class="about-header">About National Streamflow Statistics (NSS) client application.</h2>
                    <p>
                            The National Streamflow Statistics (NSS) program provides the U.S. Geological Survey developed and published regression equations, 
                            such as mean annual and monthly mean flows, flow-duration percentiles, and peak and low flows for or every State, the Commonwealth of Puerto Rico, 
                            and several metropolitan areas in the United States. The NSS program is used for a variety of water-resource purposes, such as bridge and culvert 
                            design, and emergency planning and management such as drought and flood zone identification and total maximum daily load estimates in ungaged locations.
                        </p>
                        <p>
                            Much of the functionality in the NSS program is also available in the <a href="https://streamstats.usgs.gov"
                            target="_blank">StreamStats</a> application. StreamStats provides a map-based user interface that allows selection of 
                            interest and automates the process of computing basin characteristics and estimating flow statistics for ungaged sites. 
                            StreamStats also provides access to previously computed information for gaged sites. As a result, StreamStats normally 
                            should be used in areas where it is available.
                        </p>
                     <h2 class="about-header"> Get Started! </h2>
                        <p>
                            Navigate to the sidebar to explore the available regression-based scenarios based on study area. Filter to scenarios of interest, fill in the necessary
                            explanatory variables values on the main screen, and click "Compute" on the sidebar to view results and citations. Click on "?" icons for additional help.
                        </p>
                        <p>
                            The <a href="https://www.usgs.gov/software/national-streamflow-statistics-program-nss" target="_blank">NSS home page</a> provides links to a more detailed 
                            description of the program, a user's manual, descriptions of the outputs, definitions and streamflow statistics, limitations for use of the application, and 
                            other information.
                        </p>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="far fa-bell"></i>Disclaimer</ng-template>      
                <ng-template ngbTabContent>
                    <p>This software has been approved for release by the U.S. Geological Survey (USGS). 
                        Although the software has been subjected to rigorous review, the USGS reserves the right 
                        to update the software as needed pursuant to further analysis and review. No warranty, expressed or implied, 
                        is made by the USGS or the U.S. Government as to the functionality of the software and related material nor 
                        shall the fact of release constitute any such warranty. Furthermore, the software is released on condition 
                        that neither the USGS nor the U.S. Government shall be held liable for any damages resulting from its authorized or unauthorized use.
                    </p>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle><i class="far fa-question-circle"></i>Help</ng-template>      
                <ng-template ngbTabContent>
                    <div>
						<p class="mbottom-sm">
							Use the form below to get support on a specific issue. Please include as much information as possible.
						</p>    
						                    
                        <form #form="ngForm" [formGroup]="newTicketForm" (ngSubmit)="submitFreshDeskTicket()"> 
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email"
                                                [class.invalid]="newTicketForm.get('email').invalid" required
                                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" name="primaryEmail"
                                                formControlName="email" 
                                            />                                                
                                        </div>
                                        <div *ngIf="newTicketForm.get('email').dirty && !(newTicketForm.get('email').valid)">
                                            <small class="text-danger">Please provide a valid email address</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="subject">Subject:</label>
                                            <input class="form-control" id="subject" formControlName="subject" name ="subject" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Description:</label>
                                            <textarea class="form-control" rows="6" id="description" formControlName="description" name = "description" required></textarea>
                                        </div>
                                        <div class="form-group">
											<label for="title">Upload an Attachment (optional):</label>
											<div  *ngIf="!file">
												<label class="button small black" style="padding-top: 3px;" for="supportRequestFile">
													<i class="far fa-paperclip"></i>
													<span>Attach File</span> 
												</label>  
												<input type="file" ngf-select (change)="uploadFile($event)" formControlName="attachment" name="file" accept="image/*" id="supportRequestFile" hidden>
											</div>
											<div  *ngIf="file">
												<button class="button small red" (click)=removeFile()>
													<i  class="far fa-trash"></i>
													<span>Remove File</span>
												</button>
											</div>
										</div>
										<!-- Submit -->
                                        <button type="submit" [disabled]="!form.valid" class="button blue mtop-sm">
											<i class="far fa-share"></i>
											<span>Submit Support Request</span>
										</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
	</div>
	
	<!-- Footer / Buttons -->
    <div class="modal-body-footer">
        <button type="button" class="button" (click)="d('closed')">
            <i class="far fa-close"></i>
            <span>Close</span>
        </button>
    </div>
</ng-template>