<ng-template #manageCitations let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">Manage Citations </h4>
            <button class="close pull-right" (click)="d('closed')">x</button>
        </div>
    </div>
    <input type="text" #input placeholder="Search" (change)="filter(input.value)">
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-5">Title</th>
                <th class="col-xs-2">Associated Regression Regions</th>
                <th class="col-xs-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of filteredData">
                <td>
                    <div>{{l.title}}</div>
                </td>
                <td>
                    <div>regression regions</div>
                </td>
                <td>
                    <div>delete buttons</div>
                </td>
 
            </tr>
        </tbody>
    </table>
</ng-template>