<ng-template #manageCitations let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">Manage Citations </h4>
            <button class="close pull-right" (click)="d('closed')">x</button>
        </div>
    </div>
    <div class="modal-body">
    <input type="text" #input placeholder="Search" (keyup)="filter(input.value)">
    <table class="table">
        <thead>
            <tr>
                <th class="col">Citation</th>
                <th class="col">Associated Regression Regions</th>
                <th class="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of filteredData; let cIndex = index">
                <td>
                    <div class="half-space">
                        <span *ngIf="!c.isEditing">{{ c.author }}</span>
                        <span *ngIf="c.isEditing"><input type="text" name="author" [(ngModel)]="c.author" required></span>
                    </div>
                    <div>
                        <span *ngIf="!c.isEditing">{{ c.title }}</span>
                        <span *ngIf="c.isEditing"><input type="text" name="title" [(ngModel)]="c.title" required></span>
                    </div>
                    <div>
                        <a *ngIf="!c.isEditing" [href]="c.citationURL" [target]="_blank">
                            <span *ngIf="!c.isEditing">{{ c.citationURL }}</span>
                        </a>
                        <span *ngIf="c.isEditing"><input type="text" name="citationURL" [(ngModel)]="c.citationURL" required></span>
                    </div>
                </td>
                <td>
                    <span *ngFor="let e of c.regressionRegions">
                        <div>{{e.name}}</div>
                    </span>
                </td>
                <td>
                    <div [class.hidden]="!showAddCitations">
                        <i *ngIf="!c.isEditing" title="Edit Citation"  (click)="editRowClicked(c, cIndex)" class="fa fa-pencil" aria-hidden="true" style="cursor:pointer"></i>&nbsp; 
                        <i *ngIf="c.isEditing" title="Save Citation" (click)="saveCitation(c)" class="fa fa-floppy-o" aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                        <i *ngIf="c.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked()" class="fa fa-history" aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                        <i *ngIf="!c.isEditing" title="Delete Citation" (click)="!c.regressionRegions?.length>0 && deleteCitation(c.id)" class="fa fa-times" [class.disabled-icon]="c.regressionRegions?.length>0" aria-hidden="true" style="cursor:pointer"></i>
                    </div>
                    <div [class.hidden]="showAddCitations"> 
                        <i title="Add Citation" (click)="addExistingCitation(l); d('closed')" class="fa fa-plus" aria-hidden="true" style="cursor:pointer"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="d('closed')" class="btn-black">Close</button>
    </div>
</ng-template>