.modal-body p {
    padding-top: 15px;
}


button {
    margin: 0px 5px 5px 0px;
}
.modal-body{
    overflow-y: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }