.modal-body p {
    padding-top: 15px;
}

button {
    margin: 0px 5px 5px 0px;
}
.modal-body{
    overflow-y: auto;
}

.regRegion {
    width: 228px; 
    border-top-style:none; 
    border-left-style:none; 
    max-height:100%;
}

.regRegionLast {
    width: 228px; 
    border-top-style:none; 
    border-bottom-style:none; 
    border-left-style:none; 
}

.editRegRegion {
    width: 45px; 
    border-top-style:none; 
    border-right-style: none;
}

.editRegRegionLast {
    width: 45px; 
    border-top-style:none; 
    border-right-style: none; 
    border-bottom-style:none;
}

.citationHeader {
    width: 595px; 
    border-right-style: none;
}

.citationEditHeader {
    width: 50px; 
    border-right-style: none; 
    border-left-style: none;
}

.regRegionHeader {
    width: 300px; 
    border-right-style: none; 
    border-left-style: none;
}

.regRegionEditHeader {
    width: 50px; 
    border-left-style: none;
}

.col1 {
    width: 450px;

    &.inGagePage{
        width: 90%;
    }
}

.editCol {
    width: 41px;

    &.inGagePage{
        width: 10%;
    }
}