.modal-body p {
    padding-top: 15px;
}

button {
    margin: 0px 5px 5px 0px;
}
.modal-body{
    overflow-y: auto;
}

.regRegion {
    width: 228px; 
    border-top-style:none; 
    border-left-style:none; 
    max-height:100%;
}

.regRegionLast {
    width: 228px; 
    border-top-style:none; 
    border-bottom-style:none; 
    border-left-style:none; 
    max-height:100%;
}

.editRegRegion {
    width:45px; 
    border-top-style:none; 
    border-right-style: none;
}

.editRegRegionLast {
    width:45px; 
    border-top-style:none; 
    border-right-style: none; 
    border-bottom-style:none;
}