<form class="gs-sidebar" id="gsSidebar">

    <div class="sidebar-item">
        <span>Limit by Station Type:</span>
        <select id="stSelect" [(ngModel)]="selectedStationType" (ngModelChange)="onStationTypeSelect($event)" name="stationType">
            <option selected hidden value=""></option>
            <option [ngValue]="i" *ngFor="let i of stationTypes">{{i.name}}</option>
        </select>
    </div>
    
    <div class="sidebar-item">
        <span>Limit by Agency:</span>
        <select id="agSelect" [(ngModel)]="selectedAgency" (ngModelChange)="onAgencySelect($event)" name="agency">
            <option selected hidden value=""></option>
            <option [ngValue]="i" *ngFor="let i of agencies">{{i.name}}</option>
        </select>
    </div>

    <div class="footer-links">
        <div class="identification">Powered by <a href="https://wim.usgs.gov/" target="_blank">WiM</a></div>
        <a href="https://usgs.gov" target="_blank">USGS Home</a><a href="https://answers.usgs.gov" target="_blank">Contact
            USGS</a>
        <a href="https://search.usgs.gov" target="_blank">Search USGS</a>
        <a href="https://www2.usgs.gov/laws/accessibility.html" target="_blank">Accessibility</a>
        <a href="https://www2.usgs.gov/foia/" target="_blank">FOIA</a>
        <a href="https://www2.usgs.gov/laws/privacy.html" target="_blank">Privacy</a>
        <a href="https://www2.usgs.gov/laws/policies_notices.html" target="_blank">Policies &amp; Notices</a>
    </div>
</form>

