<ng-template #gagePage let-c="close" let-d="dismiss">
	<div>
		<div class="modal-header">
			<div class="title">GagePage</div>  
			<!-- <button class="icon-button" (click)="d('closed'); editGage=false; cancelEditGageInfo()"><i class="far fa-times"></i></button>  -->
		</div>
	</div>

	<div class="modal-body modal-body-fixed side-padding">
		<!--Buttons-->
		<div class="xs-f-start mbottom-sm">
			<button *ngIf="loggedInRole && !editGage" type="button" class="button small blue mright-sm" (click)="editGage = true">
				<i class="far fa-pencil-alt"></i>
				<span>Edit Gage</span>
			</button>
			<button *ngIf="loggedInRole && !editGage" type="button" class="button small red mright-sm" (click)="deleteGageStats(gage.id)">
				<i class="far fa-trash"></i>
				<span>Delete Gage</span>
			</button>
			<button *ngIf="loggedInRole && editGage" type="button" class="button small green mright-sm" (click)="endEditGageStats()">
				<i class="far fa-check"></i>
				<span>Finish Edits</span>
			</button>
		</div>
		<!--Gage Information-->
		<div>
			<div class="table-title">Gage Information
				<button *ngIf="loggedInRole && editGage && !editGageInfo" type="button" class="button small blue"  (click)="editGageInformation(gage)">Edit Gage Information</button>
			</div>
			<button *ngIf="loggedInRole && editGageInfo" type="button" title="Save Gage Information" class="icon-button" (click)="saveGageInfo(gage)">
				<i class="far fa-floppy-o"></i>
			</button>
			<button *ngIf="loggedInRole && editGageInfo" type="button" title="Cancel Gage Information Edits" class="icon-button" (click)="cancelEditGageInfo()">
				<i class="far fa-history"></i>
			</button>
			<div>
				<table style="border:solid 1px gray" class="custom-table"> 
					<thead>
						<tr>
							<th>Name</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>USGS Station Number</td>
							<td>
								<span *ngIf="!editGageInfo"><a href="https://waterdata.usgs.gov/monitoring-location/{{gage.code}}" target="_blank">{{gage.code}}&nbsp;&nbsp;</a><a href="https://nwis.waterdata.usgs.gov/nwis/inventory/?site_no={{gage.code}}"  target="_blank">(Legacy NWIS link)</a></span>
								<span *ngIf="editGageInfo"><input type="text" [(ngModel)]="gage.code"></span>
							</td>
						</tr>
						<tr>
							<td>Station Name</td>
							<td>
								<span *ngIf="!editGageInfo">{{gage.name}}</span>
								<span *ngIf="editGageInfo"><input type="text" [(ngModel)]="gage.name"></span>
							</td>
						</tr>
						<tr>
							<td>Station Type</td>
							<td>
								<span *ngIf="!editGageInfo">{{gage.stationType.name}}</span>
								<span *ngIf="editGageInfo">
									<ng-select name="stationName" [(ngModel)]="gage.stationTypeID" [clearable]="false">
										<ng-option *ngFor="let s of stationTypes" [value]="s.id">{{s.name}}</ng-option>
									</ng-select>
								</span>
							</td>
						</tr>
						<tr>
							<td>Latitude</td>
							<td>
								<span *ngIf="!editGageInfo">{{gage.location.coordinates[1]}}</span>
								<span *ngIf="editGageInfo"><input type="number"  [(ngModel)]="gage.location.coordinates[1]"></span>
							</td>
						</tr>
						<tr>
							<td>Longitude</td>
							<td>
								<span *ngIf="!editGageInfo">{{gage.location.coordinates[0]}}</span>
								<span *ngIf="editGageInfo"><input type="number" [(ngModel)]="gage.location.coordinates[0]"></span>
							</td>
						</tr>
						<tr>
							<td>Is regulated?</td>
							<td>
								<span *ngIf="!editGageInfo">{{gage.isRegulated}}</span>
								<span *ngIf="editGageInfo"><input type="checkbox" [(ngModel)]="gage.isRegulated"/></span>
							</td>
						</tr>
						<tr>
						<td>Agency</td>
						<td>
							<span *ngIf="!editGageInfo">{{gage.agency.name}}</span>
							<span *ngIf="editGageInfo">
								<ng-select name="agencyName" [(ngModel)]="gage.agencyID" [clearable]="false">
									<ng-option *ngFor="let a of agencies" [value]="a.id">{{a.name}}</ng-option>
								</ng-select>
							</span>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--Physical Characteristics-->
		<div *ngIf="gage.characteristics.length > 0 || editGage">
			<div class="table-title">Physical Characteristics
				<div class="stat-filters">
					<div><button *ngIf="loggedInRole && editGage" type="button" class="button small blue mright-xs"  (click)="addPhysicalCharacteristic(cIndex)">Add Physical Characteristic</button></div>
				</div>
			</div>
			<div >
				<table style="border:solid 1px gray" class="custom-table"> 
					<thead>
						<tr>
							<th class="width-5" *ngIf="editGage"></th>
							<th class="width-20">Characteristic</th>
							<th class="width-10">Value</th>
							<th class="width-20">Units</th>
                            <th class="width-10">Citation ID</th>
                            <th class="width-35">Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="newChar">
							<td>	
								<div class="table-icon-buttons">
									<button type="button" *ngIf="!newChar.isEditing" title="Edit Parameter" (click)="editRowClicked(newChar, cIndex)" class="icon-button" aria-hidden="true">
										<i class="far fa-pencil"></i>
									</button>
									<button type="button" *ngIf="newChar.isEditing" title="Save Parameter" (click)="saveChar(newChar)"  class="icon-button" aria-hidden="true">
										<i class="far fa-floppy-o"></i>
									</button>
									<button type="button" *ngIf="newChar.isEditing" title="Delete" (click)="deletePhysicalCharacteristic(newChar.id)"  class="icon-button" aria-hidden="true">
										<i class="far fa-times"></i>
									</button>
								</div>
							</td>
							<td>
								<span *ngIf="!newChar.isEditing">{{newChar.variableTypeID}}</span>
								<span *ngIf="newChar.isEditing">
									<ng-select name="variableTypeID" [(ngModel)]="newChar.variableTypeID" [clearable]="false">
										<ng-option *ngFor="let variable of variables" [value]="variable.id">{{variable.name}}</ng-option> 
									</ng-select>
								</span>
							</td>
							<td>
								<span *ngIf="!newChar.isEditing">{{newChar.value}}</span>
								<span *ngIf="newChar.isEditing"><input type="number" [(ngModel)]="newChar.value" size="2" class="input-100"></span>
							</td>
							
							<td>
								<span *ngIf="!newChar.isEditing">{{newChar.unitType.name}}</span>
								<span *ngIf="newChar.isEditing">
									<ng-select name="unitTypeID" [(ngModel)]="newChar.unitTypeID" [clearable]="false">
										<ng-option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</ng-option>
									</ng-select>
								</span>
							</td>
							<td>
								<span *ngIf="!newChar.isEditing">{{newChar.citationID}}</span>
								<span *ngIf="selectedCitation">{{selectedCitation.id}}</span>
								<button *ngIf="newChar.isEditing && !selectedCitation" type="button" class="button blue mright-xs" (click)="showManageCitationsModal(newChar)"><i class="far fa-plus"></i></button>
								<button *ngIf="newChar.isEditing && selectedCitation" type="button" title="Change Citation" (click)="showManageCitationsModal(newChar)"><i class="far fa-pencil"></i></button>
                            </td>
                            <td>
								<span *ngIf="!newChar.isEditing">{{newChar.comments}}</span>
								<span *ngIf="newChar.isEditing"><textarea [(ngModel)]="newChar.comments" size="2"></textarea></span>
							</td>
						</tr>
						<tr *ngFor="let c of gage.characteristics, let cIndex = index">
							<td *ngIf="editGage">	
								<div class="table-icon-buttons">
									<button type="button" *ngIf="!c.isEditing" title="Edit Parameter" (click)="editRowClicked(c, cIndex)" class="icon-button" aria-hidden="true">
										<i class="far fa-pencil"></i>
									</button>
									<button type="button" *ngIf="c.isEditing" title="Save Parameter" (click)="saveChar(c)"  class="icon-button" aria-hidden="true">
										<i class="far fa-floppy-o"></i>
									</button>
									<button type="button" *ngIf="c.isEditing" title="Cancel Edit" (click)="cancelEditRowClicked(c)"  class="icon-button" aria-hidden="true">
										<i class="far fa-history"></i>
									</button>
									<button type="button" *ngIf="c.isEditing" title="Delete" (click)="deletePhysicalCharacteristic(c.id)"  class="icon-button" aria-hidden="true">
										<i class="far fa-times"></i>
									</button>
								</div>
							</td>
							<td>
								<span *ngIf="!c.isEditing">{{c.variableType.name}}</span>
								<span *ngIf="c.isEditing">
									<ng-select name="variableTypeID" [(ngModel)]="c.variableTypeID" [clearable]="false">
										<ng-option *ngFor="let variable of variables" [value]="variable.id">{{variable.name}}</ng-option> 
									</ng-select>
								</span>
							</td>
							<td>
								<span *ngIf="!c.isEditing">{{c.value}}</span>
								<span *ngIf="c.isEditing"><input type="number" [(ngModel)]="c.value" size="1" class="input-100"></span>
							</td>
							
							<td>
								<span *ngIf="!c.isEditing">{{c.unitType.name}}</span>
								<span *ngIf="c.isEditing">
									<ng-select name="unitTypeID" [(ngModel)]="c.unitTypeID" [clearable]="false">
										<ng-option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</ng-option>
									</ng-select>
								</span>
							</td>
							<td>
								<span *ngIf="!c.isEditing">{{c.citationID}}</span>
								<span *ngIf="c.isEditing">{{c.citationID}}</span>
								<button *ngIf="c.isEditing" type="button" title="Change Citation" (click)="showManageCitationsModal(c)"><i class="far fa-pencil"></i></button>
                            </td>
                            <td>
								<span *ngIf="!c.isEditing">{{c.comments}}</span>
								<span *ngIf="c.isEditing"><textarea [(ngModel)]="c.comments" size="2"></textarea></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--Streamflow Statistics Table-->
		<div *ngIf="gage.statistics.length > 0  || editGage">
			<div class="table-title">Streamflow Statistics
				<div class="stat-filters">
					<div><label>Filter by Statistic Group: </label></div>
					<div>
						<ss-multiselect-dropdown [options]="filteredStatGroups" [texts]="myMSTexts" [settings]="myRTSettings"
						[(ngModel)]="selectedStatGroup">
						</ss-multiselect-dropdown>
					</div>
					<div><button class="button small grey" *ngIf="!preferred" (click)="preferred = true">Show Preferred Stats  <i class="fa fa-toggle-off" ></i></button></div>
					<div><button class="button small grey" *ngIf="preferred" (click)="preferred = false">Show Preferred Stats  <i class="fa fa-toggle-on" ></i></button></div>
					<div><button *ngIf="loggedInRole && editGage" type="button" class="button small blue mright-xs" (click)="addStreamflowStatistic()">Add Streamflow Statistic</button></div>
				</div>
			</div>
			<div>
				<div>
					<div>
						<table style="border:solid 1px gray" class="custom-table"> 
							<thead>
								<tr>
									<th class="width-5" *ngIf="editGage"></th>
									<th class="width-15">Statistic</th>
									<th [class.width-7]="editGage" [class.width-5]="!editGage">Value</th>
                                    <th class="width-10">Units</th> 
                                    <th class="width-7">Citation ID</th>
									<th *ngIf="editGage" class="width-15">Statistic Group</th>
									<th class="width-7" *ngIf="predIntervals || editGage">Variance</th>
									<th class="width-7" *ngIf="predIntervals || editGage">Lower 90% Prediction Interval</th>
									<th class="width-7" *ngIf="predIntervals || editGage">Upper 90% Prediction Interval</th>
									<th>Preferred</th>
                                    <th class="width-7">Years of Record</th> 
                                    <th>Comments</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngIf="newStat">
									<td>	
										<div class="table-icon-buttons">
											<button type="button" *ngIf="!newStat.isEditing" title="Edit Parameter" (click)="editRowClicked(newStat, sIndex)" class="icon-button" aria-hidden="true">
												<i class="far fa-pencil"></i>
											</button>
											<button type="button" *ngIf="newStat.isEditing" title="Save Parameter" (click)="saveStat(newStat)"  class="icon-button" aria-hidden="true">
												<i class="far fa-floppy-o"></i>
											</button>
											<button type="button" *ngIf="newStat.isEditing" title="Delete" (click)="deleteStatistic(newStat.id)"  class="icon-button" aria-hidden="true">
												<i class="far fa-times"></i>
											</button>
										</div>
									</td>
									<td>
										<span *ngIf="!newStat.isEditing">{{newStat.regressionType.name}}</span>
										<span *ngIf="newStat.isEditing">
											<ng-select  [(ngModel)]="newStat.regressionTypeID" name="regressionType" [clearable]="false">
												<ng-option *ngFor="let regressionType of regressionTypes" [value]="regressionType.id">{{regressionType.name}}</ng-option>
											</ng-select>
										</span>
									</td>
									<td>
										<span *ngIf="!newStat.isEditing">{{newStat.value}}</span>
										<span *ngIf="newStat.isEditing"><input type="number" [(ngModel)]="newStat.value" size="1"></span>
									</td>
									<td>
										<span *ngIf="!newStat.isEditing">{{newStat.unitType.name}}</span>
										<span *ngIf="newStat.isEditing" >
											<ng-select [(ngModel)]="newStat.unitTypeID" name="unitTypeID" [clearable]="false">
                                                <ng-option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</ng-option>
                                            </ng-select>
										</span>
                                    </td> 
                                    <td>
										<span *ngIf="!newStat.isEditing">{{newStat.citationID}}</span>
										<span *ngIf="selectedCitation">{{selectedCitation.id}}</span>
										<button *ngIf="newStat.isEditing && !selectedCitation" type="button" class="button blue mright-xs" (click)="showManageCitationsModal(newStat)"><i class="far fa-plus"></i></button>
										<button *ngIf="newStat.isEditing && selectedCitation" type="button" title="Change Citation" (click)="showManageCitationsModal(newStat)"><i class="far fa-pencil"></i></button>                            
									</td>
									<td>
									    <span *ngIf="!newStat.isEditing">{{getStatGroup(newStat.statisticGroupTypeID)}}</span>
										<span *ngIf="newStat.isEditing">
											<select [(ngModel)]="newStat.statisticGroupTypeID" name="statisticGroupTypeID">
												<option *ngFor="let statisticGroup of statisticGroups" [value]="statisticGroup.id">{{statisticGroup.name}}</option>
											</select>
										</span>
									</td>
									<td *ngIf="predIntervals || editGage">
										<span *ngIf="!newStat.isEditing">{{newStat.predictionInterval.variance}}</span>
										<span *ngIf="newStat.isEditing"><input type="number" [(ngModel)]="newStat.predictionInterval.variance" class="input-100"></span>
									</td>
									<td *ngIf="predIntervals || editGage">
										<span *ngIf="!newStat.isEditing">{{newStat.predictionInterval.lowerConfidenceInterval}}</span>
										<span *ngIf="newStat.isEditing"><input type="number" [(ngModel)]="newStat.predictionInterval.lowerConfidenceInterval" class="input-100"></span>
									</td>
									<td *ngIf="predIntervals || editGage">
										<span *ngIf="!newStat.isEditing">{{newStat.predictionInterval.upperConfidenceInterval}}</span>
										<span *ngIf="newStat.isEditing"><input type="number" [(ngModel)]="newStat.predictionInterval.upperConfidenceInterval" class="input-100"></span>
									</td>
									<td>
										<span *ngIf="!newStat.isEditing"><input type="checkbox" [checked]="s.isPreferred" onclick="return false"/></span>
										<span *ngIf="newStat.isEditing"><input type="checkbox" [(ngModel)]="newStat.isPreferred" size="3"></span>
									</td>
									<td>
										<span *ngIf="!newStat.isEditing">{{newStat.yearsofRecord}}</span>
										<span *ngIf="newStat.isEditing"><input type="number" [(ngModel)]="newStat.yearsofRecord" size="1"></span>
                                    </td>
                                    <td>
                                        <span *ngIf="!newStat.isEditing">{{newStat.comments}}</span>
                                        <span *ngIf="newStat.isEditing"><textarea [(ngModel)]="newStat.comments" size="2"></textarea></span>
                                    </td>
								</tr>
								<ng-container *ngFor="let s of gage.statistics,  let sIndex = index">
									<ng-container *ngIf="selectedStatGroup == 0 && (!preferred || s.isPreferred) || selectedStatGroup.includes(s.statisticGroupTypeID) && (!preferred || s.isPreferred)">
										<tr *ngIf="statIds.includes(s.id)" >
											<th  colspan="15">{{getStatGroup(s.statisticGroupTypeID)}}</th>
										</tr>
										<tr>									
											<td *ngIf="editGage">	
												<div class="table-icon-buttons">
													<button type="button" *ngIf="!s.isEditing" title="Edit Parameter" (click)="editRowClicked(s, sIndex)" class="icon-button" aria-hidden="true">
														<i class="far fa-pencil"></i>
													</button>
													<button type="button" *ngIf="s.isEditing" title="Save Parameter" (click)="saveStat(s)"  class="icon-button" aria-hidden="true">
														<i class="far fa-floppy-o"></i>
													</button>
													<button type="button" *ngIf="s.isEditing" title="Cancel Edit" (click)="cancelEditRowClicked(s)"  class="icon-button" aria-hidden="true">
														<i class="far fa-history"></i>
													</button>
													<button type="button" *ngIf="s.isEditing" title="Delete" (click)="deleteStatistic(s.id)"  class="icon-button" aria-hidden="true">
														<i class="far fa-times"></i>
													</button>
												</div>
											</td>
											<td>
												<span *ngIf="!s.isEditing">{{s.regressionType.name}}</span>
												<span *ngIf="s.isEditing">
													<ng-select  [(ngModel)]="s.regressionTypeID" name="regressionTypeID" [clearable]="false">
														<ng-option *ngFor="let regressionType of regressionTypes" [value]="regressionType.id">{{regressionType.name}}</ng-option>
													</ng-select>
												</span>
											</td>
											<td>
												<span *ngIf="!s.isEditing">{{s.value}}</span>
												<span *ngIf="s.isEditing"><input type="number" [(ngModel)]="s.value" size="1" class="input-100"></span>
											</td>
											<td>
												<span *ngIf="!s.isEditing">{{s.unitType.name}}</span>
												<span *ngIf="s.isEditing" >
													<ng-select [(ngModel)]="s.unitTypeID" name="unitTypeID" [clearable]="false">
														<ng-option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</ng-option>
													</ng-select>
												</span>
											</td>
											<td>
												<span *ngIf="!s.isEditing">{{s.citationID}}</span>
												<span *ngIf="s.isEditing">{{s.citationID}}</span>
												<button *ngIf="s.isEditing" type="button" title="Change Citation" (click)="showManageCitationsModal(s)"><i class="far fa-pencil"></i></button>
											</td>
											<td *ngIf="editGage">
												<span *ngIf="!s.isEditing">{{getStatGroup(s.statisticGroupTypeID)}}</span>
												<span *ngIf="s.isEditing">
													<select [(ngModel)]="s.statisticGroupTypeID" name="statisticGroupTypeID">
														<option *ngFor="let statisticGroup of statisticGroups" [value]="statisticGroup.id">{{statisticGroup.name}}</option>
													</select>
												</span>
											</td>
											<td *ngIf="predIntervals || editGage">
												<span *ngIf="s.predictionInterval && !s.isEditing">{{s.predictionInterval.variance}}</span>
												<span *ngIf="s.isEditing"><input type="number" [(ngModel)]="s.predictionInterval.variance" class="input-100"></span>
											</td>
											<td *ngIf="predIntervals || editGage">
												<span *ngIf="s.predictionInterval && !s.isEditing">{{s.predictionInterval.lowerConfidenceInterval}}</span>
												<span *ngIf="s.isEditing"><input type="number" [(ngModel)]="s.predictionInterval.lowerConfidenceInterval" class="input-100"></span>
											</td>
											<td *ngIf="predIntervals || editGage">
												<span *ngIf="s.predictionInterval && !s.isEditing">{{s.predictionInterval.upperConfidenceInterval}}</span>
												<span *ngIf="s.isEditing"><input type="number" [(ngModel)]="s.predictionInterval.upperConfidenceInterval" class="input-100"></span>
											</td>
											<td>
												<span *ngIf="!s.isEditing"><input type="checkbox" [checked]="s.isPreferred" onclick="return false"></span>
												<span *ngIf="s.isEditing"><input type="checkbox" [(ngModel)]="s.isPreferred" size="3"></span>
											</td>
											<td>
												<span *ngIf="!s.isEditing">{{s.yearsofRecord}}</span>
												<span *ngIf="s.isEditing"><input type="number" [(ngModel)]="s.yearsofRecord" size="1" class="input-100"></span>
											</td>
											<td>
												<span *ngIf="!s.isEditing">{{s.comments}}</span>
												<span *ngIf="s.isEditing"><textarea [(ngModel)]="s.comments" size="2"></textarea></span>
											</td>
										</tr>
									</ng-container>
								</ng-container>		
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--Citations-->
		<div *ngIf="gage.citations.length > 0">
			<div class="table-title">Citations</div>
			<div>
				<table style="border:solid 1px gray" class="custom-table">
					<thead>
						<tr>
							<th class="width-5">ID</th>
							<th>Citation</th>
						</tr>
					</thead>
					<tbody >
						<tr *ngFor="let c of gage.citations">
							<td>{{c.id}}</td>
							<td><a href="{{c.citationURL}}" target="_blank">{{c.author}}&nbsp;{{c.title}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Footer / Buttons -->
	<div class="modal-body-footer">
		<button type="button" (click)="d('closed'); editGage=false" [disabled]="editGage" class="button black">Close</button>
	</div>
</ng-template>
