.modal-body p {
    padding-top: 10px;
}

button {
    margin: 0px 0px 5px 10px;
}

.table-title{
    font-size: 16px;
	font-weight: 600;
}

.stat-filters div{
    display: inline-block;
}

.modal-body{
    overflow-y: auto;
}

.stat-filters{
    float: right;
}

.stat-filters label {
    margin-right: 7px !important;
    font-size: 14px;
}

.stat-table-title {
    padding: 10px;
}
