.modal-body p {
    padding-top: 10px;
}

button {
    margin: 0px 0px 5px 10px;
}

.table-title{
    font-size: 16px;
	font-weight: 600;
}

.stat-filters div{
    display: inline-block;
}

.modal-body{
    overflow-y: auto;
}

.stat-filters{
    float: right;
}

.stat-filters label {
    margin-right: 7px !important;
    font-size: 14px;
}

.stat-table-title {
    padding: 10px;
}

.width200 {
    width: 200px;
}

.width170 {
    width: 170px;
}

.width140 {
    width: 140px;
}

.width130 {
    width: 130px;
}

.width120 {
    width: 120px;
}

.width70 {
    width: 70px
}

.width50 {
    width: 50px;
}

.width40 {
    width: 40px;
}
