<ng-template #batchUpload let-c="close" let-d="dismiss">
    <div>
        <div class="modal-header">
            <div class="title">Batch Upload</div>
            <button class="icon-button" (click)="c('closed'); clearTable()"><i class="far fa-times"></i></button>
        </div>
        <div class="modal-body batch-scrollbars">
            <div class="upload-type">    
                <button *ngIf='!selectUpload' type="button" class="button blue" (click)='selectUpload = true; uploadStations = true'>Upload Stations</button>
                <button *ngIf='!selectUpload' type="button" class="button blue" (click)='selectUpload = true; uploadStats = true'>Upload Statistics</button>
                <button *ngIf='!selectUpload' type="button" class="button blue" (click)='selectUpload = true; uploadChars = true'>Upload Characteristics</button>
			</div>
			<!-- Back button -->
			<button *ngIf='selectUpload' type="button" class="button green" (click)='selectUpload = false; clearTable()'>Back</button>
			<!-- File selector -->
			<div class="upload-input">
                <input *ngIf='selectUpload' (change)="selectFile($event)" type='file' multiple='false'/>
			</div>
			<!-- Select worksheet -->
            <div *ngIf="sheetNamesButtons">
                <h6 class="title">Select a Worksheet:</h6>
                <ng-container *ngFor="let sheetName of wb.SheetNames">
                        <button class="button grey mright-sm mtop-xs" (click)='selectSheet(sheetName)'>{{sheetName}}</button>
                </ng-container>
			</div>

			<!-- Edit buttons -->
			<div class="edit-buttons">
				<button *ngIf='tableDisplay && !tableEdit' type='button' class="button small grey mright-xs" (click)='tableEdit = true && disableSumbit = true'>Edit Table</button>
                <button *ngIf='tableDisplay && tableEdit' type='button' class="button small grey mright-xs" (click)='tableEdit = false'>Finish Edits</button>
                <button *ngIf='tableDisplay && !tableEdit' type='button' class="button small grey mright-xs" (click)='showManageCitationsModal()'>Add Citation</button>
			</div>

			
            <div>
                <table style="border:solid 1px gray" class="custom-table">
                    <thead>
                        <tr>
                           <th *ngIf='tableEdit'></th> 
                           <th *ngFor='let header of headers, let headerIndex = index'>{{header}}
                               <ng-container *ngIf='tableEdit'>
                                <button title="Delete Column" (click)='deleteColumn(headerIndex)'><i class="far fa-times"></i></button>
                               </ng-container>
                           </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of tableData, let rowIndex = index">
                            <ng-container *ngIf="rowIndex == 0">
                                <td *ngIf='tableEdit'></td>
                                <td *ngFor='let val of tableData[0], let valIndex = index'>
                                    <ng-select  [items]="dropdownOptions"
                                                bindLabel= "name"
                                                bindValue="id"
                                                placeholder="Select value"
                                                [closeOnSelect] = 'false' 
                                                [selectOnTab] = 'false'
                                                [markFirst] = 'false'
                                                [openOnEnter] = 'false'
                                                [(ngModel)]="tableData[rowIndex][valIndex]"
                                                (change)="changeDropdownOptions()"
                                                (clear)="tableData[rowIndex][valIndex] = null"  
                                                (open)="tableData[rowIndex][valIndex] = null">
                                    </ng-select>
                                </td>
                            </ng-container>
                            <ng-container *ngIf="rowIndex != 0">
                                <td *ngIf='tableEdit' class="deleteUploadTableRow">
									<button title="Delete Row" (click)='deleteRow(rowIndex)'><i class="far fa-times"></i></button>
								</td>
                                <td *ngFor='let val of tableData[0], let valIndex = index'>
                                    <span *ngIf='!tableEdit &&  getType( tableData[rowIndex][valIndex]) !== "boolean"' [style.background-color]="setStyle(tableData[rowIndex][valIndex])">{{tableData[rowIndex][valIndex]}}</span>
                                    <span *ngIf='!tableEdit &&  getType( tableData[rowIndex][valIndex]) === "boolean"'><input type="checkbox" [checked]="tableData[rowIndex][valIndex]" onclick="return false"></span>
                                    <span *ngIf='tableEdit  &&  getType( tableData[rowIndex][valIndex]) !== "boolean"' ><input [style.background-color]="setStyle(tableData[rowIndex][valIndex])" [(ngModel)]='tableData[rowIndex][valIndex]'></span>
                                    <span *ngIf='tableEdit  &&  getType( tableData[rowIndex][valIndex]) === "boolean"'><input type="checkbox" [(ngModel)]="tableData[rowIndex][valIndex]" size="3"></span>
                                    <!-- tableData[rowIndex][valIndex] !== true || !tableEdit && tableData[rowIndex][valIndex] !== false -->
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Citations-->
            <div *ngIf="selectedCitation">
                <div class="table-title">Citation</div>
                <div>
                    <table style="border:solid 1px gray" class="custom-table">
                        <thead>
                            <tr>
                                <th class="width-5">ID</th>
                                <th>Citation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{selectedCitation.id}}</td>
                                <td><a href="{{selectedCitation.citationURL}}" target="_blank">{{selectedCitation.author}}&nbsp;{{selectedCitation.title}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <button *ngIf='tableDisplay && !tableEdit' type="button" class="button small green mright-xs" (click)="verifyData()">Verify Data</button>
                <button *ngIf='tableDisplay && !tableEdit' type="button" class="button small green mright-xs" [disabled]="disableSumbit" (click)="submitRecords()">Submit</button>
            </div>
        </div>
    </div>
    <div class="modal-body-footer"></div>
</ng-template>