<ng-template #batchUpload let-c="close" let-d="dismiss" >
    <div>
        <div class="modal-header">
            <h3 class="title" > Batch Upload </h3>
            <button class="icon-button" (click)="c('closed')"><i class="far fa-times"></i></button>
        </div>
        <div class="modal-body">
            <div>    
                <button *ngIf='!selectUpload' type="button" class="button small blue mright-xs" (click)='selectUpload = true; uploadStations = true'>Upload Stations</button>
                <button *ngIf='!selectUpload' type="button" class="button small blue mright-xs" (click)='selectUpload = true; uploadStats = true'>Upload Statistics</button>
                <button *ngIf='!selectUpload' type="button" class="button small blue mright-xs" (click)='selectUpload = true; uploadChars = true'>Upload Characteristics</button>
                <button *ngIf='selectUpload' type="button" class="button small green mright-xs" (click)='selectUpload = false; clearTable()'>Back</button>
                <!-- <button *ngIf='selectUpload' type="button" class="button small blue mright-xs" (click)='selectFile()'>Select File</button> -->
                <input *ngIf='selectUpload' (change)="selectFile($event)" type='file' multiple='false'/>
                <button *ngIf='tableDisplay && !tableEdit' type='button' class="button small grey mright-xs" (click)='tableEdit = true'>Edit Table</button>
                <button *ngIf='tableDisplay && tableEdit' type='button' class="button small grey mright-xs" (click)='tableEdit = false'>Finish Edits</button>
            </div>
            <div *ngIf="sheetNamesButtons">
                <h6 class="title" > Select a Worksheet:</h6>
                <ng-container *ngFor="let sheetName of wb.SheetNames">
                        <button class="button small grey mright-xs" (click)='selectSheet(sheetName)'>{{sheetName}}</button>
                </ng-container>
            </div>
            <div>
                <table style="border:solid 1px gray" class="custom-table">
                    <thead>
                        <tr>
                           <th *ngIf='tableEdit'></th> 
                           <th *ngFor='let header of headers'>{{header}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of tableData, let rowIndex = index">
                            <ng-container *ngIf="rowIndex == 0">
                                <td *ngIf='tableEdit'></td>
                                <td *ngFor='let val of tableData[0], let valIndex = index'>
                                    <ng-select  [items]="dropdownOptions"
                                                bindLabel= "name"
                                                bindValue="id"
                                                placeholder="Select value"
                                                [closeOnSelect] = 'false' 
                                                [markFirst] = 'false'
                                                [openOnEnter] = 'false'
                                                [(ngModel)]="tableData[rowIndex][valIndex]"
                                                (change)="changeDropdownOptions($event)"
                                                (clear)="tableData[rowIndex][valIndex] = null"  >
                                    </ng-select>
                                </td>
                            </ng-container>
                            <ng-container *ngIf="rowIndex != 0">
                                <td *ngIf='tableEdit'><button title="Delete" (click)='deleteRow(rowIndex)'><i class="far fa-times"></i></button></td>
                                <td *ngFor='let val of tableData[0], let valIndex = index'>
                                    <span *ngIf='!tableEdit'>{{tableData[rowIndex][valIndex]}}</span>
                                    <span *ngIf='tableEdit'><input [(ngModel)]='tableData[rowIndex][valIndex]'></span>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div>
                <button *ngIf='tableDisplay && !tableEdit && uploadStations' type="button" class="button small blue mright-xs" (click)='submitStations()'>Submit</button>
                <button *ngIf='tableDisplay && !tableEdit && uploadStats' type="button" class="button small green mright-xs" (click)='submitStats()'>Submit</button>
                <button *ngIf='tableDisplay && !tableEdit && uploadChars' type="button" class="button small green mright-xs" (click)='submitChars()'>Submit</button>
            </div>
        </div>
    </div>

    

    <div class="modal-body-footer">
    </div>
</ng-template>