<div class="regSelect">Choose Region:
    <select [ngModel]="selectedRegion" (ngModelChange)="onRegSelect($event)" name="region">
        <option value="none">None</option>
        <option [ngValue]="i" *ngFor="let i of regions">{{i.name}}</option>
    </select>
</div>
<div>
    <legend style="margin-bottom:25px;margin-top:0;">Regression Types</legend>
</div>

<button [hidden]="loggedInRole !== 'Administrator'" type="button" class="btn-blue" (click)="showNewRegressionForm()"><i class="fa fa-plus"
    aria-hidden="tru"></i> Add New Regression Type</button>

<form #RegressionForm="ngForm">
    <div class="form-group" *ngIf="regressionTypes">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-4">Name</th>
                    <th>Description</th>
                    <th class="col-xs-1">Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of regressionTypes; let i = index">
                    <td>
                        <div class="data-controls">
                            <i *ngIf="!r.isEditing" title="Edit Regression Type" (click)="EditRowClicked(i)" class="fa fa-pencil"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>&nbsp;
                            <i *ngIf="!r.isEditing" title="Delete Regression Type" (click)="deleteRegression(r.id)"
                                class="fa fa-times" aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="r.isEditing" title="Save Regression Type" (click)="saveRegression(r,i)" class="fa fa-floppy-o"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="r.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="fa fa-history"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.name }}</span>
                        <span *ngIf="r.isEditing"><input type="text" name="name" [(ngModel)]="r.name" required></span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.description }}</span>
                        <span *ngIf="r.isEditing"><textarea rows="3" [(ngModel)]="r.description" name="description"></textarea></span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.code }}</span>
                        <span *ngIf="r.isEditing"><input type="text" name="code" [(ngModel)]="r.code" required></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />

<!-- new regression type form -->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">New Regression Type </h4>
            <button class="close pull-right" (click)="d('closed')">x</button>
        </div>
    </div>
    <div class="modal-body">
        <h3 class="modal-title">New Regression Type</h3>
        <form [formGroup]="newRegForm">
            <!-- Regression Type Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRegForm.get('name').valid && newRegForm.get('name').dirty}">
                <label class="req" for="name">Name:</label>
                <input class="form-control" type="text" formControlName="name" required>
                <div class="input-invalid-warning" *ngIf="!newRegForm.get('name').valid && newRegForm.get('name').dirty">Regression
                    Name is required</div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" rows="3" placeholder="" formControlName="description"></textarea>
            </div>

            <!-- Short Name -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRegForm.get('code').valid && newRegForm.get('code').dirty}">
                <label class="req" for="code">Code:</label>
                <input class="form-control" type="text" formControlName="code">
                <div class="input-invalid-warning" *ngIf="!newRegForm.get('code').valid && newRegForm.get('code').dirty">Code
                    is required</div>
            </div>

        </form>

        <div class="modal-footer">
            <button type="button" (click)="d('closed')" class="btn-black">Cancel</button>
            <button type="button" (click)="createNewRegression()" [disabled]="!newRegForm.valid" class="btn-blue">Create</button>
        </div>
    </div>
</ng-template>