<h3 class="mbottom-md">Regression Types</h3>


<div class="regSelect">
	<label class="block" for="region">Filter By Study Area:</label>

    <select [ngModel]="selectedRegion" (ngModelChange)="onRegSelect($event)" name="region" class="input-small">
        <option value="none">None</option>
        <option [ngValue]="i" *ngFor="let i of regions">{{i.name}}</option>
    </select>
</div>

<div class="statSelect">
	<label class="block" for="region">Filter By Statistic Group:</label>
    <select [ngModel]="selectedStatistic" (ngModelChange)="onStatGroupSelect($event)" name="statistic" class="input-small">
        <option value="none">None</option>
        <option [ngValue]="i" *ngFor="let i of statisticGroups">{{i.name}}</option>
    </select>
</div>

<button type="button" class="button blue small mtop-sm" (click)="showNewRegressionForm()">
	<i class="far fa-plus" aria-hidden="true"></i> 
	<span>Add New Regression Type</span>
</button>

<form #RegressionForm="ngForm">
    <div class="form-group" *ngIf="regressionTypes">
        <table class="custom-table mtop-sm">
            <thead>
                <tr>
                    <th class="width-5"></th>
                    <th class="width-25">Name</th>
                    <th class="width-25">Description</th>
                    <th class="width-15">Code</th>
                    <th class="width-10">Metric Unit</th>
                    <th class="width-10">English Unit</th>
                    <th class="width-10">Statistic Group</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of regressionTypes; let i = index">
                    <td class="table-icon-buttons">
						<button *ngIf="!r.isEditing" title="Edit Regression Type" (click)="EditRowClicked(i)" class="icon-button">
							<i class="far fa-pencil"></i>
						</button>
						<button *ngIf="!r.isEditing" title="Delete Regression Type" (click)="deleteRegression(r.id)" class="icon-button hover-red">
							<i class="far fa-times"></i>
						</button>
						<button *ngIf="r.isEditing" title="Save Regression Type" (click)="saveRegression(r,i)" class="icon-button">
							<i class="far fa-floppy-o"></i>
						</button>
						<button *ngIf="r.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="icon-button">
							<i class="far fa-history"></i>
						</button>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.name }}</span>
                        <span *ngIf="r.isEditing"><input type="text" name="name" [(ngModel)]="r.name" required></span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.description }}</span>
                        <span *ngIf="r.isEditing"><textarea rows="3" [(ngModel)]="r.description" name="description"></textarea></span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.code }}</span>
                        <span *ngIf="r.isEditing"><input type="text" name="code" [(ngModel)]="r.code" required></span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing && r.metricUnitType">{{ r.metricUnitType.abbreviation }}</span>
                        <span *ngIf="r.isEditing">
                            <ng-select  bindLabel="name" [items]="metricUnitTypes" [(ngModel)]="r.metricUnitType" name="metricUnit" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                                <ng-option *ngFor="let ut of metricUnitTypes" [value]="ut">{{ut.name}} ({{ut.abbr}})</ng-option>
                            </ng-select>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing && r.englishUnitType">{{ r.englishUnitType.abbreviation }}</span>
                        <span *ngIf="r.isEditing">
                            <ng-select  bindLabel="name" [items]="englishUnitTypes" [(ngModel)]="r.englishUnitType" name="englishUnit" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                                <ng-option *ngFor="let ut of englishUnitTypes" [value]="ut">{{ut.name}} ({{ut.abbr}})</ng-option>
                            </ng-select>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing && r.statisticGroupType">{{ r.statisticGroupType.code }}</span>
                        <span *ngIf="r.isEditing">
                            <ng-select  bindLabel="name" [items]="statisticGroups" [(ngModel)]="r.statisticGroupType" name="statisticGroup" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                                <ng-option *ngFor="let sg of statisticGroups" [value]="sg">{{sg.name}} ({{sg.code}})</ng-option>
                            </ng-select>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />


<!-- new regression type form -->
<ng-template #add let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="title">New Regression Type</div>  
		<button class="icon-button" (click)="d('closed')"><i class="far fa-times"></i></button>                
	</div>
    <div class="modal-body">
        <form [formGroup]="newRegForm">
            <!-- Regression Type Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRegForm.get('name').valid && newRegForm.get('name').dirty}">
                <label class="req" for="name">Name:</label>
                <input class="form-control" type="text" formControlName="name" required>
                <div class="input-invalid-warning" *ngIf="!newRegForm.get('name').valid && newRegForm.get('name').dirty">Regression
                    Name is required</div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" rows="3" placeholder="" formControlName="description"></textarea>
            </div>

            <!-- Short Name -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRegForm.get('code').valid && newRegForm.get('code').dirty}">
                <label class="req" for="code">Code:</label>
                <input class="form-control" type="text" formControlName="code">
                <div class="input-invalid-warning" *ngIf="!newRegForm.get('code').valid && newRegForm.get('code').dirty">Code
                    is required</div>
            </div>

            <!-- Metric Unit Type -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRegForm.get('metricUnitTypeID').valid && newRegForm.get('metricUnitTypeID').dirty}">
                <label class="req" for="metricUnitTypeID">Metric Unit:</label>
                <ng-select formControlName="metricUnitTypeID"  bindLabel="id" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                    <ng-option *ngFor="let ut of metricUnitTypes" [value]="ut.id">{{ut.name}} ({{ut.abbr}})</ng-option>
                </ng-select>
                <div class="input-invalid-warning" *ngIf="!newRegForm.get('metricUnitTypeID').valid && newRegForm.get('metricUnitTypeID').dirty">Metric Unit Type
                    is required</div>
            </div>

            <!-- English Unit Type -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRegForm.get('englishUnitTypeID').valid && newRegForm.get('englishUnitTypeID').dirty}">
                <label class="req" for="englishUnitTypeID">English Unit:</label>
                <ng-select formControlName="englishUnitTypeID"  bindLabel="id" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                    <ng-option *ngFor="let ut of englishUnitTypes" [value]="ut.id">{{ut.name}} ({{ut.abbr}})</ng-option>
                </ng-select>
                <div class="input-invalid-warning" *ngIf="!newRegForm.get('englishUnitTypeID').valid && newRegForm.get('englishUnitTypeID').dirty">English Unit Type
                    is required</div>
            </div>

            <!-- Statistic Group Type -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRegForm.get('statisticGroupTypeID').valid && newRegForm.get('statisticGroupTypeID').dirty}">
                <label class="req" for="statisticGroupTypeID">Statistic Group:</label>
                <ng-select formControlName="statisticGroupTypeID"  bindLabel="id" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                    <ng-option *ngFor="let sg of statisticGroups" [value]="sg.id">{{sg.name}} ({{sg.code}})</ng-option>
                </ng-select>
                <div class="input-invalid-warning" *ngIf="!newRegForm.get('statisticGroupTypeID').valid && newRegForm.get('statisticGroupTypeID').dirty">Statistic Group Type
                    is required</div>
            </div>

        </form>
    </div>

	<!-- Footer / Buttons -->
	<div class="modal-body-footer">
		<button type="button" (click)="d('closed')" class="button">Cancel</button>
		<button type="button" (click)="createNewRegression()" [disabled]="!newRegForm.valid" class="button blue">Create</button>
	</div>
</ng-template>
