.sidebar-item-body {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.25) inset;
    box-sizing: border-box;
    color: #222d39;
    padding: 25px 15px 35px;
    position: relative;
    top: 0 !important;
    margin-bottom: 3px;
    text-align:left;
}
.sidebar-item-body a {
    clear: both;
    color: rgba(34, 45, 57, 0.6);
    display: block;
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0 0 0 15px;
    width: auto;
    float: left;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #3c6dd1;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
.sidebar-item-link-active {
    color: RGBA(34,45,57,1);
    font-weight: bolder;
}

