<div class="gs-sidebar-content">

    <div class="sidebar-item">
        <label>Search by keyword:</label>
            <input type="text" [(ngModel)]="searchText"  placeholder="Search">
    </div>

    <div class="sidebar-item">
        <label>Limit by Station Type:</label>
        <ss-multiselect-dropdown [options]="stationTypes" [texts]="myMSTexts" [settings]="myRTSettings"
        [(ngModel)]="selectedStationType" name="stationType">
        </ss-multiselect-dropdown>
    </div>
    
    <div class="sidebar-item">
        <label>Limit by Agency:</label>
        <ss-multiselect-dropdown [options]="agencies" [texts]="myMSTexts" [settings]="myRTSettings"
        [(ngModel)]="selectedAgency" name="agency">
        </ss-multiselect-dropdown>
    </div>

    <div class="sidebar-item">
        <label>Search for Gage Stations:</label>
        <button class="button full" (click)="onSearch()">
            <span>Search</span>
        </button>
    </div>

    	<!-- Spacer - fills space to align footer at bottom -->
	<div class="flex-spacer"></div>

    <div class="sidebar-footer">
        <div class="identification">Powered by <a href="https://wim.usgs.gov/" target="_blank">WIM <img src="assets/img/favicon-pin.png"/></a></div>
        <div class="sidebar-footer-links">
            <a href="https://usgs.gov" target="_blank">USGS Home</a><a href="https://answers.usgs.gov" target="_blank">Contact
                USGS</a>
            <a href="https://search.usgs.gov" target="_blank">Search USGS</a>
            <a href="https://www2.usgs.gov/laws/accessibility.html" target="_blank">Accessibility</a>
            <a href="https://www2.usgs.gov/foia/" target="_blank">FOIA</a>
            <a href="https://www2.usgs.gov/laws/privacy.html" target="_blank">Privacy</a>
            <a href="https://www2.usgs.gov/laws/policies_notices.html" target="_blank">Policies &amp; Notices</a>
        </div>
    </div>
</div>

