<!-- toaster directive -->
<toaster-container [toasterconfig]="config"></toaster-container>
<!-- / toaster directive -->

<div class="profile-page">
    <h2 class="pbottom-xs">Profile</h2>
    <form #UserInfo TypeForm="ngForm">
        <div *ngIf="userInfo" class="userInfo">
			<!-- Username -->
            <div class="profile-page-row">
                <label>Username: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.username}}</span>
                <span *ngIf="userInfo.isEditing"><input type="text" name="username" [(ngModel)]="userInfo.username" required></span>
			</div>
			<!-- Email -->
            <div class="profile-page-row">
                <label>Email: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.email}}</span>
                <span *ngIf="userInfo.isEditing"><input type="text" name="email" [(ngModel)]="userInfo.email" required></span>
			</div>
			<!-- First Name -->
            <div class="profile-page-row">
                <label>First Name: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.firstName}}</span>
                <span *ngIf="userInfo.isEditing"><input type="text" name="firstName" [(ngModel)]="userInfo.firstName" required></span>
			</div>
			<!-- Last Name -->
            <div class="profile-page-row">
                <label>Last Name: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.lastName}}</span>
                <span *ngIf="userInfo.isEditing"><input type="text" name="lastName" [(ngModel)]="userInfo.lastName" required></span>
			</div>
			<!-- Role -->
            <div class="profile-page-row">
                <label>Role: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.role}}</span>
                <span *ngIf="userInfo.isEditing">
                    <select [(ngModel)]="userInfo.role" name="role">
                        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                    </select>
                </span>
			</div>

			<!-- Password - only shown if editing -->
            <div *ngIf="userInfo.isEditing" class="profile-page-row">
                <label>Password (optional): </label>
                <span><input type="password" name="password" [(ngModel)]="userInfo.password" required></span>
            </div>
            <div *ngIf="userInfo.isEditing" [ngClass]="{'form-invalid': userInfo.password && passwordTest && userInfo.password !== passwordTest}" class="profile-page-row">
                <label>Retype Password: </label>
                <span><input type="password" name="password" [(ngModel)]="passwordTest"required>
                <div class="form-invalid" *ngIf="userInfo.password && passwordTest && userInfo.password !== passwordTest">Passwords don't match.</div></span>
			</div>

			<div class="ptop-md"></div>
			
			<!-- Buttons -->
            <button *ngIf="!userInfo.isEditing" (click)="editUser()" class="button blue">
				<i class="fa fa-pencil"></i>
				<span>Edit User Info</span>
			</button>
			<button *ngIf="userInfo.isEditing" (click)="saveUser()" class="button blue">
				<i class="fa fa-floppy-o"></i>
				<span>Save</span>
			</button>
            <button *ngIf="userInfo.isEditing" (click)="cancelEdit()" class="button black mleft-sm">
				<i class="fa fa-history"></i>
				<span>Cancel</span>
			</button>
        </div>
    </form>
    <router-outlet></router-outlet>
</div>