<!-- toaster directive -->
<toaster-container [toasterconfig]="config"></toaster-container>
<!-- / toaster directive -->

<div class="page-padding">
    <h1>Profile</h1>
    <form #UserInfo TypeForm="ngForm">
        <div *ngIf="userInfo" class="userInfo">
            <div>
                <label>Username: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.username}}</span>
                <span *ngIf="userInfo.isEditing"><input type="text" name="username" [(ngModel)]="userInfo.username" required></span>
            </div>
            <div>
                <label>Email: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.email}}</span>
                <span *ngIf="userInfo.isEditing"><input type="text" name="email" [(ngModel)]="userInfo.email" required></span>
            </div>
            <div>
                <label>First Name: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.firstName}}</span>
                <span *ngIf="userInfo.isEditing"><input type="text" name="firstName" [(ngModel)]="userInfo.firstName" required></span>
            </div>
            <div>
                <label>Last Name: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.lastName}}</span>
                <span *ngIf="userInfo.isEditing"><input type="text" name="lastName" [(ngModel)]="userInfo.lastName" required></span>
            </div>
            <div>
                <label>Role: </label>
                <span *ngIf="!userInfo.isEditing">{{userInfo.role}}</span>
                <span *ngIf="userInfo.isEditing">
                    <select [(ngModel)]="userInfo.role" name="role">
                        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                    </select>
                </span>
            </div>
            <div *ngIf="userInfo.isEditing">
                <label>Password (optional): </label>
                <span><input type="password" name="password" [(ngModel)]="userInfo.password" required></span>
            </div>
            <div *ngIf="userInfo.isEditing" [ngClass]="{'form-invalid': userInfo.password && passwordTest && userInfo.password !== passwordTest}">
                <label>Retype Password: </label>
                <span><input type="password" name="password" [(ngModel)]="passwordTest"required>
                <div class="form-invalid" *ngIf="userInfo.password && passwordTest && userInfo.password !== passwordTest">Passwords don't match.</div></span>
            </div>
            <button *ngIf="!userInfo.isEditing" (click)="editUser()"><span><i class="fa fa-pencil"></i>Edit User Info</span></button>
            <button *ngIf="userInfo.isEditing" (click)="saveUser()"><span><i class="fa fa-floppy-o"></i>Save</span></button>
            <button *ngIf="userInfo.isEditing" (click)="cancelEdit()"><span><i class="fa fa-history"></i>Cancel</span></button>
        </div>
    </form>
    <router-outlet></router-outlet>
</div>