////////////////////
////   Forms   ////
//////////////////
// 
// Styling for various form form tags (inputs, etc) and custom form elements and styling
// 
// 		text classes
// 			- label
// 			- hint
// 			- input character count
// 		input elements & textarea
// 		buttons
// 			- colors: default (primary), .red, .green, .yellow, .purple, .grey
// 		Icon button
// 		Checkboxes, Radios, Toggle Switches
// 		Range
//		Hint (tooltip)
// 		Invalid forms
// 

////////////////////////
//      Text        //
//////////////////////
// Labels
label{
	padding: 2px 0 6px 0px;
	margin: 0 !important;
	letter-spacing: 0px;
	display: block;
	color: var(--text);
	font-size: 15px;
	font-weight: 500;
	font-family: var(--systemFont);

	// Make smaller on mobile
	@media (max-width: $screenMD) {
		font-size: 14px;
	}
	@media (max-width: $screenMD) {
		font-size: 13px;
	}

	// Smaller and less visible
	&.small{
		font-size: 13px;
		padding-bottom: 5px;
		font-weight: 500;
		letter-spacing: 0.1px;
		color: var(--text);
	}
	// Bigger
	&.big{
		font-size: 20px;
		padding-bottom: 4px;
		font-weight: 600;
		color: var(--text);
		// Make smaller on mobile
		@media (max-width: $screenMD) {
			font-size: 16px;
		}
	}	
	// Biggest
	&.biggest{
		font-size: 24px;
		padding-bottom: 10px;
		font-weight: 500;
		color: var(--text);
		// Make smaller on mobile
		@media (max-width: $screenMD) {
			font-size: 22px;
		}
	}

}
// Small label hint for more info
.hint{
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	padding: 0 0 3px 0;
	display: block;
	color: var(--textLight);
	letter-spacing: 0.35px;

	b{
		font-weight: 600;
	}

	// Make smaller on mobile
	@media (max-width: $screenSM) {
		font-size: 12px;
		line-height: 12px;
		padding: 2px 0 2px 0;
	}
}



////////////////////////
//      Inputs       //
//////////////////////
// outline / accessibility styles for all inputs
input,button,textarea,a,select{
	outline: 2px dashed transparent;
	outline-offset: 3px;
	transition: outline 0.1s ease, outline-offset 0.2s ease;
	
	// Focus, show outline
	&:focus{
		outline: none !important;
		// outline: 2px dashed var(--outline) !important;
		outline-offset: 4px;
		transition: outline 0.1s ease, outline-offset 0.2s ease;

		// Disable outline on mobile
		@media (max-width: $screenMD) {
			outline: none !important;
		}
	}
	
	// Acttive
	&:active{
		outline: 2px dashed transparent;
    }
}
// Hide invalid red dropshadow
input:invalid{
	box-shadow: none;
}
// Text Inputs
input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='url'],
select,
.dropdown,
textarea{
	max-width: 100%;
	width: 100%;
    font-size: 16px;
	box-sizing: border-box;
	padding: 0 8px;
	color: var(--black);
	font-family: var(--systemFont);
	font-weight: 500;
	letter-spacing: 0.35px;
	background-color: var(--inputBackground);
	border-radius: var(--borderRadius);
	transition: all 0.1s ease, border-color 0.15s ease;
	font-weight: 500;
	border: var(--borderWidth) solid var(--inputBorder);

	// Increase size on mobile
	@media (max-width: $screenMD) {
		font-size: 14px;
		padding: 0 12px;
		// border-color: transparent;
	}
	
	// Hover and focus states
	&:hover,
	&:focus{
		transition: all 0.1s ease, border-color 0.15s ease;
	}
	
	// Placeholder
	&::placeholder{
		color: rgba(150,150,150);
		letter-spacing: 0.4px;
		font-weight: 500;
	}

}
// Single line text inputs
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='tel'],
input[type='url']{
    height: 36px;
	
	// decrease size on mobile
	@media (max-width: $screenMD) {
		height: 34px;
	}
}
// Textarea
textarea{
    line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	min-height: 120px;
	box-shadow: none;
	
	@media (max-width: $screenMD) {
		font-size: 14px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 26px;
	}

	// Code textarea
	&.code{
		font-family: var(--mono);
		font-size: 13px;
		line-height: 15px;
	}
}
// Select needs own height definition
select{
	height: 40px;
	-moz-appearance: none;
}

.input-small{
	max-width: 300px !important;
}

// Input sizes
.input-50{
	max-width: 50px !important;
}
.input-100{
	max-width: 100px !important;
}
.input-150{
	max-width: 150px !important;
}
.input-200{
	max-width: 200px !important;
}

////////////////////////////////
//   Multiselect Plugin      //
//////////////////////////////
// Additional styling for multiselect plugin
.dropdown-menu{
	box-sizing: border-box;
	max-width: 269px !important;
	width: 269px !important;

	.dropdown-item{
		box-sizing: border-box;
		padding: 1px 10px !important;
		font-size: 14px !important;

		&.check-control{
			font-weight: bolder;
		}
	}
}
.dropdown-toggle{
	overflow: hidden;
}
.dropdown,
.dropup,
.dropdown-inline[_ngcontent-c4]{
    width: 100% !important;
}
.dropdown .btn,
.dropup .btn{
    display: block;
    width: 100%;
}

////////////////////////
//      Buttons      //
//////////////////////
button{
	background-color: transparent;
	border: none;

	&:hover span{
		text-decoration: underline;
	}
}
.button{
	border: none;
	color: var(--background);
	height: 36px;
	min-height: 36px;
	border-radius: var(--borderRadius);
	font-size: 14px;
	letter-spacing: 0.15px;
	font-weight: 600;
	padding: 0px 14px 2px 14px;
	background-color: var(--text);
	box-sizing: border-box;
	transform: translateY(0px);
	font-family: var(--systemFont);
	border: var(--borderWidth) solid rgba(0,0,0,0.4);
	border-bottom-width: 2px;

	// Increase size on mobile
	@media (max-width: $screenMD) {
		letter-spacing: 0.4px;
		padding: 2px 14px 2px 14px;
	}

	&.full{
		width: 100%;
		text-align: center;
	}

	// States
	&:hover{
		cursor: pointer;
		text-decoration: underline;
	}
	&:active{

		span,i{
			position: relative;
			top: 1px;
		}

		// Mobile
		@media (max-width: $screenMD) {
			letter-spacing: 0.4px;
			padding: 2px 14px 3px 14px;
		}
	}
	&:focus{
		text-decoration: underline;
	}

	// Add spacing on first element (either i or span)
	span:first-child,
	i:first-child{
		margin-right: 9px;
	}

	// Increase icon size without affecting button size
	i{
		transform: scale(1.325);
		transform-origin: center center;
	}

	// Color Variations
	// Blue
	&.blue{
		background-color: var(--blue);
		color: var(--white);
	}
	// Green
	&.green{
		background-color: var(--green);
		color: var(--black);
	}
	// Red
	&.red{
		background-color: var(--red);
		color: var(--white);
	}
	// Yellow
	&.yellow{
		background-color: var(--yellow);
		color: var(--black);
	}
	// Orange
	&.orange{
		background-color: var(--orange);
		color: var(--white);
	}
	// Purple
	&.purple{
		background-color: var(--purple);
		color: var(--white);
	}
	// Grey
	&.grey{
		color: var(--text);
		background-color: var(--grey);
	}
	// Black
	&.black{
		color: var(--white);
		background-color: var(--black);
	}
	// Invert
	&.invert{
		color: var(--layer);
		background-color: var(--text);
	}
	// transparent
	&.transparent{
		color: var(--text);
		background-color: var(--layer);
	}
	

	// Size Variations
	// small
	&.small{
		min-height: 30px;
		height: 30px;
		font-size: 13px;
		letter-spacing: 0.26px;
		font-weight: 600;
		padding: 0 8px 1px 8px;

		// Increase size on mobile
		@media (max-width: $screenMD) {
			letter-spacing: 0.14px;
			padding: 0px 10px;
		}
		// Even more on small
		@media (max-width: $screenSM) {
			font-weight: 500;
		}

		// Add spacing on first element (either i or span)
		span:first-child,
		i:first-child{
			margin-right: 6px;
		}

		// Decrease icon size
		i{
			transform: scale(1.2);
		}
	}
	// big
	&.big{
		height: 44px;
		font-size: 18px;
		font-weight: 600;
		padding: 0 14px 2px 14px;
		letter-spacing: 0.5px;

		// Increase size on mobile
		@media (max-width: $screenMD) {
			letter-spacing: 0.4px;
			padding: 0px 14px;
		}
		// Even more on small
		@media (max-width: $screenSM) {
			padding: 0px 12px;
			font-size: 16px;
		}

		// Add spacing on first element (either i or span)
		span:first-child,
		i:first-child{
			margin-right: 10px;
		}
	}

	// Disabled
	&:disabled{
		background-color: #BFC6D2;
		color: #434A52;
		border-color: transparent;
		opacity: 0.8;

		&:hover{
			cursor: default;
			background-color: #BFC6D2;
			color: #434A52;
			opacity: 0.8;
			text-decoration:none;
			span{
				text-decoration: none;
			}
		}
	}

	// Inline 
	&.fit{
		width: fit-content;
	}
}

// Icon button
// Button element - but no border, background, etc
// Just an icon inside
.icon-button{
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: var(--black);
	opacity: 0.75;
	transition: var(--transition);

	i{
		font-size: 16px;
	}

	&:hover{
		cursor: pointer;
		color: var(--blue);
		opacity: 1;
		transition: var(--transition);
	}

	&.hover-red:hover{
		color: var(--red);
	}
	&.hover-blue:hover{
		color: var(--blue);
	}

	// Disabled
	&:disabled,
	&.hover-blue:disabled,
	&.hover-red:disabled{
		opacity: 0.4;
		color: var(--black);

		&:hover{
			cursor: not-allowed;
			opacity: 0.4;
			color: var(--black);
		}
	}
}

/////////////////////////
//     Checkboxes     //
///////////////////////

// Turn into checks
input[type="checkbox"],
input[type="radio"]{
  width: auto;
  margin-right: 5px;
}

.check {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;

	height: 28px;
	min-height: 28px;
	max-height: 28px;
	width: 28px;
	min-width: 28px;
	max-width: 28px;
	display: inline-block;
	position: relative;
	margin: 0;
	border-radius: var(--borderRadius);
	box-sizing: border-box;
	border: var(--borderWidth) solid transparent;
	transition: all 0.2s ease;
	background: var(--inputBackground);
	font-size: 16px;
	font-weight: 800;
	// Remove border mobile
	@media (max-width: $screenMD) {
		border-color: transparent;
	}
	// States
	&:hover,
	&:focus{
		transition: all 0.2s ease;
		outline: 0;
		// Lighter border mobile
	}
	
	// Check icon
	&:after {
		//28x28 dimensions
		content: "\f00c";
		position: relative;
		font-family: var(--fontAwesome);
		font-weight: 900;
		transition: var(--bezierTransition);
		color: var(--text);
		opacity: 0.3;
		font-size: 16px;
		left: 5px;
		top: 4px;
	}

	// Darken border, 
	&:checked {
	}
	// Full opacity icon
	&:checked:after {
		opacity: 1;
	}

	// Icon variants
	// Change to badge
	&.badge:after{
		content: '\f336';
		font-weight: 400;
		font-size: 20px;
		top: 2px;
		left: 3px;
	}
	&.badge:checked:after{
		content: '\f336';
	}
}


// Turn checkbox into toggle switch 
.toggle{
	height: 33px;
	width: 52px;
	border-radius: 16px;
	display: inline-block;
	position: relative;
	margin: 0;
	border: var(--borderWidth) solid var(--inputBorder);
	transition: all .2s ease;
	background-color: var(--inputBackground);

	// Circle (switch that moves)
	&:after{
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background: var(--background);
		transition: all .2s cubic-bezier(.5,.1,.75,1.35);
		border: var(--borderWidth) solid var(--inputBorder);
		box-sizing: border-box;
		transition: var(--transition);
	}

	// Hover
	&:hover:after{
		transition: var(--transition);
		background-color: var(--green);
	}

	// Checked, move circle to right, full color
	&:checked{
		border: var(--borderWidth) solid var(--inputBorder);
		background: var(--inputBackground);

		&:after{
			background: var(--blue);
			transform: translateX(17px);
			border-color: var(--inputBorder);
			opacity: 1;
		}
	}
}


///////////////////////
//      Range       //
/////////////////////
// now for the good stuff 🎉
input[type="range"] {
	outline: 0;
	border: 0;
	width: 100%;
	margin: 0 0 0 0;
	// Chrome
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		& {
			height: 6px;
			background-color: var(--text);
			-webkit-appearance: none;
		}
		&::-webkit-slider-runnable-track {
			background: var(--text);
			height: 4px;
			outline: none;
			box-shadow: none;
			border: none;		
		}
		&::-webkit-slider-thumb {
			height: 28px;
			width: 28px;
			-webkit-appearance: none;
			cursor: ew-resize;
			background: var(--layer);
			border: 3px solid var(--inputBorder);
			border-radius: 50%;
			transition: box-shadow 0.2s ease-in-out;
			position: relative;
			top: -12px;
			// margin-top: -4px;
		}
		&:active::-webkit-slider-thumb {
			background: var(--green);
		}
	}
	// Firefox
	&::-moz-range-thumb{
		// border: var(--borderWidth) solid transparent;
		background-color: var(--layer);
		border: 3px solid var(--inputBorder);
		border-radius: 50%;
		height: 28px;
		width: 28px;
	}	
	&::-moz-range-progress {
		background-color: var(--inputBorder); 
	}
	&::-moz-range-track {  
		background-color: var(--layer);
	}
	&:active::-moz-range-thumb {
		background: var(--green);
	}
	// IE
	&::-ms-fill-lower {
		background-color: var(--inputBorder); 
	}
	&::-ms-fill-upper {  
		background-color: var(--layer);
	}
}

input[type=range]::-moz-focus-outer {
	border: 0;
}

//////////////////////
//     Hint        //
////////////////////
.hint{
	position: relative;
	display: inline-block;

	i{

	}


	.hint-text{
		display: none;
		position: absolute;
		bottom: 0;
		background: #0C141E;
		color: white;
		border-radius: 4px;
		box-sizing: border-box;
		padding: 6px;
		font-size: 13.5px;
		line-height: 15px;
		left: 110%;
		width: 164px;

		a{
			text-decoration: underline;
			color: white;
		}
	}

	// Hover to show text
	&:hover{
		cursor: help;

		.hint-text{
			display: block;
		}
	}
}



//////////////////////
//   Validation     //
////////////////////
.form-invalid{

	input,select,textarea,button{
		border-color: var(--red) !important;
	}

	label{
		color: var(--red);
	}
}
.form-error{
	color: var(--red);
	font-size: 13px;
	display: block;
	padding: 0;
	margin: 0;
}

.input-invalid-warning {
    color: var(--red);
}

.editScen {
	box-sizing: border-box;
	padding-left: 30px;

	h3{
		position: relative;
		left: -15px;
		border-bottom: 1px solid var(--border);
		width: 100%;
		min-width: 100%;
		max-width: none;
		padding-bottom: 14px;
		margin-top: 45px;
		margin-bottom: 0;
	}

	.custom-table, .block {
		margin-left: 5px;
	}
}

.edit-scen-wrapper{
	box-sizing: border-box;
	padding: 15px 20px 15px 20px;
	position: relative;
	left: -15px;
	background-color: var(--layer);
	border: 1px solid var(--border);

	table{
		background-color: var(--white);
	}

	h5{
		margin: 0 0 15px 0;
	}
}