// Print
// Adjust styles when printing

@media print {
	// Hide elements
	nav#main,
	button,
	#MathJax_Message,
	#toast-container,
	.app-sidebar{
		display: none !important;
	}

	// Position app content
	.app-content{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
		height: fit-content !important;
		overflow: visible;
		width: 100%;
	}

	// Adjust styles
	// 

	// Title
	h2{
		font-size: 34px;
	}
	// Date under title
	h4{
		font-size: 18px !important;
	}

	// section spacing
	#regionSection{
		margin-top: 10px;
		label.big{
			padding: 0;
			font-size: 14px !important; 
		}
	}

	// section headers
	h3{
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px !important;
		margin-top: 40px !important;
	}

	// Shrink tables padding
	.table-borderless{
		td{
			padding: 2px 0 !important;
		}
	}

	.custom-table thead{
		display: table-row-group !important;
	}

	// Citation
	.citation{
		padding-left: 0px !important;
		margin: 8px 0 !important;
		font-size: 14px !important;
	}
 }