<div class="regSelect">Choose Region:
    <select [ngModel]="selectedRegion" (ngModelChange)="onRegSelect($event)" name="region">
        <option [ngValue]="i" *ngFor="let i of regions">{{i.name}}</option>
    </select>
</div>
<div>
    <legend style="margin-bottom:25px;margin-top:0;">Regression Regions</legend>
</div>

<form #RegressionForm="ngForm">
    <div class="form-group" *ngIf="regressionRegions">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-4">Name</th>
                    <th class="col-xs-4">Code</th>
                    <th class="col-xs-1">Citation ID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of regressionRegions; let i = index">
                    <td>
                        <div class="data-controls">
                            <i *ngIf="!r.isEditing" title="Edit Regression Region" (click)="EditRowClicked(i)" class="fa fa-pencil"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>&nbsp;
                            <i *ngIf="!r.isEditing" title="Delete Regression Region" (click)="deleteRegression(r.id)"
                                class="fa fa-times" aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="r.isEditing" title="Save Regression Region" (click)="saveRegression(r,i)" class="fa fa-floppy-o"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="r.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="fa fa-history"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.name }}</span>
                        <span *ngIf="r.isEditing"><input type="text" name="name" [(ngModel)]="r.name" required></span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.code }}</span>
                        <span *ngIf="r.isEditing"><input type="text" name="code" [(ngModel)]="r.code" required></span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.citationID }}</span>
                        <span *ngIf="r.isEditing"><input type="text" name="citationID" [(ngModel)]="r.citationID"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />
<button [hidden]="loggedInRole !== 'Administrator'" type="button" class="btn-blue" (click)="showNewRegressionRegionForm()"><i class="fa fa-plus"
        aria-hidden="tru"></i> Add New Regression Region</button>
<button [hidden]="loggedInRole !== 'Administrator'" type="button" class="btn-blue" (click)="showStateRegRegForm()">
        <i class="fa fa-plus" aria-hidden="tru"></i> Add Regression Region to Region
    </button>

<!-- new regression type form -->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">New Regression Region </h4>
            <button class="close pull-right" (click)="d('closed')">x</button>
        </div>
    </div>
    <div class="modal-body">
        <h3 class="modal-title">New Regression Region</h3>
        <form [formGroup]="newRegRegForm">
            <!-- Regression Type Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRegRegForm.get('name').valid && newRegRegForm.get('name').dirty}">
                <label class="req" for="name">Name:</label>
                <input class="form-control" type="text" formControlName="name" required>
                <div class="input-invalid-warning" *ngIf="!newRegRegForm.get('name').valid && newRegRegForm.get('name').dirty">Regression
                    Name is required</div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" rows="3" placeholder="" formControlName="description"></textarea>
            </div>

            <!-- Short Name -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRegRegForm.get('code').valid && newRegRegForm.get('code').dirty}">
                <label class="req" for="code">Code:</label>
                <input class="form-control" type="text" formControlName="code">
                <div class="input-invalid-warning" *ngIf="!newRegRegForm.get('code').valid && newRegRegForm.get('code').dirty">Code
                    is required</div>
            </div>
            <!-- State* -->
            <div class="form-group required" [ngClass]="{ 'form-invalid': !newRegRegForm.get('state').valid && newRegRegForm.get('state').dirty }">
                    <label class="req" for="state">Region:</label>
                    <select class="form-control" formControlName="state">
                        <option *ngFor="let reg of regions" [value]="reg.id">{{ reg.name }}</option>
                    </select>
                    <div class="input-invalid-warning" *ngIf="!newRegRegForm.get('state').valid && newRegRegForm.get('state').dirty">
                        Region is required
                    </div>
                </div>

        </form>


        <div class="modal-footer">
            <button type="button" (click)="d('closed')" class="btn-black">Cancel</button>
            <button type="button" (click)="createNewRegression()" [disabled]="!newRegRegForm.valid" class="btn-blue">Create</button>
        </div>
    </div>
</ng-template>

<!-- add regression region to region form -->
<ng-template #toRegion let-c="close" let-d="dismiss">
        <div class="modal-header">
            <div class="col-xs-12">
                <h4 class="modal-title pull-left">Add Regression Region to Region</h4>
                <button class="close pull-right" (click)="d('closed')">x</button>
            </div>
        </div>
        <div class="modal-body">
            <h3 class="modal-title">Add Regression Region to Region</h3>
            <form [formGroup]="stateRegRegForm">
                <!-- Regression Region* -->
                <div class="form-group required" [ngClass]="{ 'form-invalid': !stateRegRegForm.get('regReg').valid && stateRegRegForm.get('regReg').dirty }">
                    <label class="req" for="regReg">Statistic Group:</label>
                    <select class="form-control" formControlName="regReg">
                        <option *ngFor="let rr of allRegressionRegions" [value]="rr.id">{{ rr.name }}</option>
                    </select>
                    <div class="input-invalid-warning" *ngIf="!stateRegRegForm.get('regReg').valid && stateRegRegForm.get('regReg').dirty">
                        Statistic Group is required
                    </div>
                </div>
    
                <!-- State* -->
                <div class="form-group required" [ngClass]="{ 'form-invalid': !stateRegRegForm.get('state').valid && stateRegRegForm.get('state').dirty }">
                    <label class="req" for="state">Region:</label>
                    <select class="form-control" formControlName="state">
                        <option *ngFor="let reg of regions" [value]="reg.id">{{ reg.name }}</option>
                    </select>
                    <div class="input-invalid-warning" *ngIf="!stateRegRegForm.get('state').valid && stateRegRegForm.get('state').dirty">
                        Region is required
                    </div>
                </div>
            </form>
    
            <div class="modal-footer">
                <button type="button" (click)="d('closed')" class="btn-black">Cancel</button>
                <button type="button" (click)="addRegRegtoState()" [disabled]="!stateRegRegForm.valid" class="btn-blue">Create</button>
            </div>
        </div>
    </ng-template>