
<div class="mainPage scrollable">
    <!-- toaster directive -->
    <toaster-container></toaster-container>
    <!-- / toaster directive -->

    <div><h3>{{title}}</h3></div>
   
    <div *ngIf="selectedRegion">       
       <label>Region:</label>
       <div>{{selectedRegion}}</div>        
    </div>   
    
    <br/>

    <div *ngIf="regressionRegions">
        <label>Regression Region(s):</label>
        <div>
            <span *ngFor="let rr of regressionRegions;let isLast=last">{{rr.Name}}{{isLast ? "" : ", "}}</span>
        </div>
    </div>

    <br />

    <div *ngIf="statisticGroups">
        <label>Statistic Group(s):</label>
        <div>
            <span *ngFor="let st of statisticGroups;let isLast=last">{{st.Name}}{{isLast ? "" : ", "}}</span>
        </div>
    </div>

    <br />

    <div *ngIf="scenarios && !resultsBack">
        <label>Equation Variables</label>
        <br/>
        <form #scenarioForm="ngForm"><!-- (ngSubmit)="onSubmit()">-->
            <div class="col-md-11" *ngFor="let sc of scenarios">
                <h3>--- {{sc.StatisticGroupName}} ---</h3>
                <div *ngIf="sc.RegressionRegions.length > 0">
                    <div *ngFor="let rr of sc.RegressionRegions" class="col-md-12">
                        <label class="pull-left">{{rr.Name}}</label>
                        <div class="col-md-7 form-group" *ngIf="showWeights">
                            <span class="col-md-2" style="display:inline;text-align:right">% Area:</span>
                            <div class="col-md-3"><input style="display:inline;" type="text" id="PercentWeight"class="form-control" (keypress)="_keyPress($event)" name="PercentWeight" [(ngModel)]="rr.PercentWeight"></div>
                        </div>
                        <table style="border:solid 1px gray" class="table table-condensed">
                            <thead>
                                <tr><th class="col-md-5">Parameter</th><th>Code</th><th class="col-md-3">Value</th><th class="col-md-2">Min Limit</th><th class="col-md-2">Max Limit</th></tr>
                            </thead>
                            <tbody> 
                                <tr *ngFor="let p of rr.Parameters">
                                    <td>{{p.Name}}
                                    <br *ngIf="p.OutOfRange"/>
                                    <span *ngIf="p.OutOfRange" class="warning-text">Warning: Parameter is outside of suggested range. Estimates will be extrapolations with unknown errors</span>
                                        <!--<a (click)="showDescription(p.Description)"><span class="glyphicon glyphicon-question-sign nss-tooltip"></span></a>-->
                                    </td>
                                    <td>{{p.Code}}</td>
                                    <td>
                                        <div class="col-md-12" style="margin-left:0;padding-left:0;">                         
                                            <input style="width:70%;display:inline;" [ngClass]="{'reqError':p.missingVal}" type="text" id="Value" class="form-control" (keypress)="_keyPress($event)" (blur)="compareValue(p)" name="Value" [(ngModel)]="p.Value" required>
                                            <span style="display:inline;" class="pull-right">({{p.UnitType.Abbr}})</span>
                                        </div>
                                    </td>
                                    <td>{{p.Limits != undefined ? (p.Limits.Min | number:'2.1-2'): "--"}} ({{p.UnitType.Abbr}})</td>
                                    <td>{{p.Limits != undefined ? (p.Limits.Max | number:'2.1-2') : "--"}} ({{p.UnitType.Abbr}})</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--end foreach RegressionRegion-->
                </div>
                <div *ngIf="sc.RegressionRegions.length == 0"><h3>There are no Results for your selection. Please try another .... </h3></div>
    
                <label *ngIf="sc.Citations">{{sc.StatisticGroupName}} Citations</label>
                <div *ngFor="let l of sc.Citations">
                    <a [href]="l.CitationURL" [target]="_blank">
                        <div>{{l.Author}}</div>
                        <div>{{l.Title}}</div>
                    </a>
                    <br />                    
                </div>
            </div><!--end foreach scenario-->            
        </form>
    </div> <!--end if scenarios-->

    <div *ngIf="resultsBack">
        <div *ngFor="let s of scenarios">
            {{s.StatisticGroupName}}<br/>
            <div *ngFor="let rr of s.RegressionRegions">
                <div *ngIf="rr.ID > 0">
                    {{rr.Name}} Region<br />
                    <span *ngIf="rr.PercentWeight">{{rr.PercentWeight}}% Weighted</span>
                    <div *ngFor="let p of rr.Parameters">
                        {{p.Name}} = {{p.Value}} {{p.UnitType.Abbr}}
                    </div> <br />
                    <div class="col-md-12">
                        <table style="border:solid 1px gray" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-6"></th>
                                    <th>Value</th>                                    
                                    <th *ngIf="rr.Results[0].IntervalBounds" colspan="2">Predicted Interval</th>
                                    <th>Prediction</th>
                                    <th *ngIf="rr.Results[0].EquivalentYears>0">Equivalent</th>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Description</th>
                                    <th>{{rr.Results[0].Unit.Abbr}}</th>                                    
                                    <th *ngIf="rr.Results[0].IntervalBounds">Low</th>
                                    <th *ngIf="rr.Results[0].IntervalBounds">High</th>
                                    <th>Error, %</th>
                                    <th *ngIf="rr.Results[0].EquivalentYears>0">Years</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let result of rr.Results">
                                    <td>{{result.Description}} ({{result.code}})</td>
                                    <td>{{result.Value | number:'2.1-3'}}</td>
                                    
                                    <td *ngIf="rr.Results[0].IntervalBounds">{{result.IntervalBounds != undefined ? (result.IntervalBounds.Lower | number:'2.1-3') : '---'}}</td>
                                    <td *ngIf="rr.Results[0].IntervalBounds">{{result.IntervalBounds != undefined ? (result.IntervalBounds.Upper | number:'2.1-3') : '---'}}</td>
                                    <td *ngIf="result.Errors">{{result.Errors[0].Value}}</td>
                                    <td *ngIf="rr.Results[0].EquivalentYears>0">{{result.EquivalentYears}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="rr.ID == 0">
                    {{rr.Name}} Region<br />
                    <br />
                    <div class="col-md-12">
                        <table style="border:solid 1px gray" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-6">Description</th>                                    
                                    <th>Value</th>
                                    <th *ngIf="rr.Results[0].EquivalentYears>0">Years</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let result of rr.Results">
                                    <td>{{result.Description}} ({{result.code}})</td>
                                    <td>{{result.Equation}}</td>
                                    <td>{{result.Value | number:'2.1-3'}}</td>                                    
                                    <td *ngIf="rr.Results[0].EquivalentYears>0">{{result.EquivalentYears}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- end 'Area-averaged'-->
            </div>
            <label *ngIf="s.Citations">{{s.StatisticGroupName}} Citations</label>
            <div *ngFor="let l of s.Citations">
                <a [href]="l.CitationURL" [target]="_blank">
                    <div>{{l.Author}}</div>
                    <div>{{l.Title}}</div>
                </a>
                <br />
            </div>
        </div> <!-- end for each Scenario-->   
        <div>See <a pageScroll href="#appendix">appendix</a> for equations.</div>

        <!-- ngfor each chart being added show here
            //if showCharts_btn is true == show the charts and showChartBtn_txt says "Hide"
            //if showCharts_btn is false == hide the charts and showChartBtn_txt says "Show"
             -->
        
        <div class="col-md-12" *ngIf="hydroChartsArray.length >0">
            <h2 style="display:inline-block;margin-right:42px;">Charts</h2>
            <button style="display:inline-block;" type="button" (click)="showHideCharts()">{{showChartBtn_txt}}</button>
        </div>
        <div *ngIf="showCharts_btn">
            <div *ngFor="let c of hydroChartsArray;let i = index">
                <div style="border:solid gray 1px;display:inline-block;margin-bottom:5px;">
                    <button type="button" class="pull-right" (click)="removeHydroChart(i)">x</button><br clear="all"/>
                    <chart [options]="c"></chart>     
                </div>
            </div>
        </div>
        <div *ngIf="fChartOptions">
            <div *ngIf="hydroChartsArray.length == 0">
                <h2 style="display:inline-block;margin-right:42px;">Charts</h2>
                <button style="display:inline-block;" type="button" (click)="showHideCharts()">{{showChartBtn_txt}}</button>
            </div>
            <div *ngIf="showCharts_btn">
                <div style="border:solid gray 1px;display:inline-block;margin-bottom:5px;">
                    <button type="button" class="pull-right" (click)="removeFreqChart()">x</button><br clear="all" />
                    <chart [options]="fChartOptions"></chart>
                </div>
            </div>
        </div>
        
        <!-- appendix section for equations <td><span [MathJax]="result.Equation">{{result.Equation}}</span></td>   -->
        <h2 id="appendix">Appendix</h2>
        <div *ngFor="let e of equationResults" class="col-md-8">
            <div>{{e.Name}}</div>
            <table style="border:solid 1px gray" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2">Code</th>
                        <th class="col-md-6">Equation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of e.Formulas">
                        <td>{{c.Code}}</td>
                        <td><span [MathJax]="c.Equation">{{c.Equation}}</span></td>
                    </tr>
                </tbody>
           </table>
        </div>

    </div>
</div>