<h3 class="mbottom-md">Statistic Groups</h3>

<div class="regSelect pbottom-md">
    <label for="region" class="block">Filter By Study Area:</label>
    <select [ngModel]="selectedRegion" (ngModelChange)="onRegSelect($event)" name="region" class="input-small">
        <option value="none">None</option>
        <option [ngValue]="i" *ngFor="let i of regions">{{ i.name }}</option>
    </select>
</div>

<button type="button" class="button blue small" (click)="showNewStatGroupForm()">
	<i class="far fa-plus" aria-hidden="true"></i>
	<span>Add New Statistic Group</span>
</button>

<form #StatGroupForm="ngForm">
    <div class="form-group" *ngIf="statisticGroups">
        <table class="custom-table mtop-sm">
            <thead>
                <tr>
                    <th class="width-5"></th>
                    <th class="width-60">Name</th>
                    <th class="width-35">Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of statisticGroups; let i = index">
                    <td class="table-icon-buttons">
						<button *ngIf="!r.isEditing" title="Edit Statistic Group" (click)="EditRowClicked(i)" class="icon-button">
							<i class="far fa-pencil"></i>
						</button>
						<button *ngIf="!r.isEditing" title="Delete Statistic Group" (click)="deleteStatGroup(r.id)" class="icon-button hover-red">
							<i class="far fa-times"></i>
						</button>
						<button *ngIf="r.isEditing" title="Save Statistic Group" (click)="saveStatGroup(r,i)" class="icon-button">
							<i class="far fa-floppy-o"></i>
						</button>
						<button *ngIf="r.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="icon-button">
							<i class="far fa-history"></i>
						</button>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.name }}</span>
                        <span *ngIf="r.isEditing"><input type="text" name="name" [(ngModel)]="r.name" required/></span>
                    </td>
                    <td>
                        <span *ngIf="!r.isEditing">{{ r.code }}</span>
                        <span *ngIf="r.isEditing"><input type="text" name="code" [(ngModel)]="r.code" required/></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />

<!-- new statistic group form -->
<ng-template #add let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="title">New Statistic Group</div>  
		<button class="icon-button" (click)="d('closed')"><i class="far fa-times"></i></button>                
	</div>
    <div class="modal-body">
        <form [formGroup]="newStatGroupForm">
            <!-- Statistic Group Name* -->
            <div
                class="form-group required"
                [ngClass]="{ 'form-invalid': !newStatGroupForm.get('name').valid && newStatGroupForm.get('name').dirty }"
            >
                <label class="req" for="name">Name:</label>
                <input class="form-control" type="text" formControlName="name" required />
                <div class="input-invalid-warning" *ngIf="!newStatGroupForm.get('name').valid && newStatGroupForm.get('name').dirty">
                    Statistic Group Name is required
                </div>
            </div>

            <!-- Short Name -->
            <div
                class="form-group required"
                [ngClass]="{ 'form-invalid': !newStatGroupForm.get('code').valid && newStatGroupForm.get('code').dirty }"
            >
                <label class="req" for="code">Code:</label>
                <input class="form-control" type="text" formControlName="code" />
                <div class="input-invalid-warning" *ngIf="!newStatGroupForm.get('code').valid && newStatGroupForm.get('code').dirty">
                    Code is required
                </div>
            </div>
        </form>
    </div>

	<!-- Footer / Buttons -->
	<div class="modal-body-footer">
		<button type="button" (click)="d('closed')" class="button">Cancel</button>
		<button type="button" (click)="createNewStatGroup()" [disabled]="!newStatGroupForm.valid" class="button blue">Create</button>
	</div>
</ng-template>
