<aboutModal></aboutModal>
<addScenarioModal></addScenarioModal>
<addRegressionRegionModal></addRegressionRegionModal>
<manageCitationsModal></manageCitationsModal>


<!-- Top Nav bar -->
<nav id="main">
	<!-- Mobile menu toggle -->
	<button class="sidebar-toggle" (click)="showMobileMenu = !showMobileMenu">
	<!-- <button class="sidebar-toggle" (click)="toggleSidebar()"> -->
		<i class="far fa-bars"></i>
	</button>

	<!-- Logo and name -->
	<div class="branding">
		<a href="https://usgs.gov">
            <img src="assets/img/usgs-logo.png"/>
        </a>
        <span class="app-title">
            {{title}}
        </span>
	</div>

	<!-- Links -->
	<div class="nav-links">
		<a routerLink="" [class.active]="router.url == ''">
			<span>NSS</span>
		</a>
		<a routerLink="gagestats" [class.active]="router.url == ''" [class.hidden]="!showGageStats">
			<span>Gagestats</span>
		</a>
		<a [class.hidden]="!isLoggedIn || loggedInRole !== 'Administrator'" routerLink="settings" routerLinkActive="active">
			<span>Settings</span>
		</a>
		<a (click)="showAbout()">
			<!-- <i class="far fa-info-circle"></i> -->
			<span>About</span>
		</a>
		<a (click)="showLoginModal()" [class.hidden]="isLoggedIn||!isloginShow">
			<span>Manage</span>
		</a> 


		<div [class.hidden]="!isLoggedIn" class="nav-dropdown">
			<i class="far fa-user"></i>
			<i class="far fa-angle-down"></i>

			<div class="nav-dropdown-body">
				<a routerLink="profile" routerLinkActive="active">Profile</a>
				<a (click)="logout(true)" class="logout">Logout</a>
			</div>
		</div>


	</div>

</nav>

<div class="app-body">
	<!-- Sidebars -->
	<wim-sidebar class="app-sidebar" *ngIf="!router.url.startsWith('/settings') && !router.url.startsWith('/profile') && router.url.indexOf('/gagestats') === -1" [class.visible]="showMobileMenu"></wim-sidebar>
	<gs-sidebar class="app-sidebar" *ngIf="router.url.indexOf('/gagestats') > -1" [class.visible]="showMobileMenu"></gs-sidebar>
	<!-- Lightbox behind menu -->
	<div id="sidebarLightbox" [class.visible]="showMobileMenu" (click)="showMobileMenu = false"></div>

	

	<!-- Main content -->
	<div class="app-content" [class.no-padding]="router.url.startsWith('/settings') || router.url.startsWith('/profile')">
		<!-- Routes -->
		<router-outlet></router-outlet>
	</div>
</div>

<!-- Loading Screen -->
<app-loading-screen></app-loading-screen>

<!-- Login modal -->
<ng-template #login let-c="close" let-d="dismiss" id="loginModal">
	<div class="modal-header">
		<div class="title">Manager Login</div>  
		<button class="icon-button" (click)="d('closed')"><i class="far fa-times"></i></button>                
	</div>
	<div class="modal-body">
		<form [formGroup]="LoginForm" id="loginForm">
			<!-- Username* -->
			<div class="form-group" [ngClass]="{'form-invalid': !LoginForm.get('username').valid && LoginForm.get('username').dirty}">
				<label class="req" for="username">Username:</label>
				<input class="form-control" type="text" formControlName="username" required>
			</div>
	
			<!-- Password* -->
			<div class="form-group" [ngClass]="{'form-invalid': !LoginForm.get('password').valid && LoginForm.get('password').dirty}">
				<label class="req" for="password">Password:</label>
				<input class="form-control" type="password" formControlName="password">
			</div>

			<div [class.hidden]="!loginError" id="loginError">
				Username or Password incorrect.
			</div>

			<button [disabled]="loading || !LoginForm.valid" class="button blue mbottom-sm" (click)="loginRun()">
				<span>Login</span>
			</button>
			<!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
			<!--<a [routerLink]="['/register']" class="btn btn-link">Register</a>-->
		</form>
	</div>
</ng-template>