<aboutModal></aboutModal>
<addScenarioModal></addScenarioModal>
<manageCitationsModal></manageCitationsModal>
<nav class="wim-nav hidden-print">
    <div class="container" style="width: 100%;">
        <button class="mobile-nav-toggle" (click)="toggleSidebar()"></button>
        <a href="https://usgs.gov">
            <img src="https://wim.usgs.gov/src/images/usgs.png" height="60px" width="150px" style="margin-top: 6px"/>
        </a>
        <span class="nav-title">
            {{title}}
        </span>
        <div class="nav-links">
            <a routerLink="" routerLinkActive="active">
                <span class="nav-link-text">Home</span>
            </a>
            <a [class.hidden]="!isLoggedIn || loggedInRole !== 'Administrator'" routerLink="settings" routerLinkActive="active">
                <span class="nav-link-text">Settings</span>
            </a>
            <a (click)="showAbout()">
                <span>
                    <i class="ion-information-circled"></i>
                    <span class="nav-link-text">About</span>
                </span>
            </a>
            <a (click)="showLoginModal()" [class.hidden]="isLoggedIn">
                <span>
                    <span class="nav-link-text">Manage</span>
                </span>
            </a> 
            <div class="dropdown" [class.hidden]="!isLoggedIn">
                <a class="dropbtn nav-link-text">
                    <i class="ion-person"></i>
                    <i class="ion-arrow-dropdown"></i>
                </a>
                <div class="dropdown-content">
                    <a (click)="logout(true)">Logout</a>
                    <a routerLink="profile" routerLinkActive="active">Profile</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<wim-sidebar *ngIf="router.url.indexOf('/settings') === -1 && router.url.indexOf('/profile') === -1"></wim-sidebar>
<app-loading-screen></app-loading-screen>
<ng-template #login let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">Manager Login</h4>
            <button class="close pull-right" (click)="d('closed')">x</button>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="LoginForm">
            <!-- Username* -->
            <div class="form-group" [ngClass]="{'form-invalid': !LoginForm.get('username').valid && LoginForm.get('username').dirty}">
                <label class="req" for="username">Username:</label>
                <input class="form-control" type="text" formControlName="username" required>
            </div>
    
            <!-- Password* -->
            <div class="form-group" [ngClass]="{'form-invalid': !LoginForm.get('password').valid && LoginForm.get('password').dirty}">
                <label class="req" for="password">Password:</label>
                <input class="form-control" type="password" formControlName="password">
            </div>

            <div [class.hidden]="!loginError" id="loginError">
                Username or Password incorrect.
            </div>

            <div>
                <button [disabled]="loading || !LoginForm.valid" class="btn btn-primary" (click)="loginRun()">Login</button>
                <!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
                <!--<a [routerLink]="['/register']" class="btn btn-link">Register</a>-->
            </div>
        </form>
    </div>
</ng-template>
<router-outlet></router-outlet>
