@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}
span.active {
  background-color: gray;
}
.fa-spinner {
	position: fixed;
	height: 15px;
	width: 30px;
	left: 40%;
	top: 10%;
}

.map-spinner {
	position: fixed;
	height: 31px;
	width: 60px;
	left: 55%;
	top: 40%;
}

.red {
    color:red;
}
.green {
    color:green;
}

.home-view {
    padding: 20px;
}
.app-body{
    margin-top:70px;
    background:#e9e7e6;
}
.footer {
    background:#555555;
}
.identification {
    font-family: "Oswald",sans-serif;
    position: relative;
    right: 10px;
}
#wim_logo {
    background: black none repeat scroll 0 0;
    border-radius: 5px;
    width: 45px;
}
#wim_logo:hover{
    background: blue none repeat scroll 0 0;
	opacity: 0.8;
	cursor: pointer;
}
.dropdown-menu ul {
    z-index:100000!important;
    font-size: 12px!important;
}
.nss-tooltip {
    position:relative;
    top: -2px;
}
.warning-text {
    color:red;
    font-style:italic;
    font-size:small
}
.reqError {
    background-color: #efe1e1!important;
    border: 1px solid #a94442!important;
}