.wim-sidebar {
    background-color: #eceef4;
    width: 300px;
    pointer-events: auto;
    position: fixed;
    top: 70;
    transform: translate3d(0px, 0px, 0px);
    z-index: 100;
    margin-top: 70px;
    height: 100%;
    height: calc(100% - 70px);
    overflow: auto;
    box-sizing: border-box;
    padding: 25px 15px;
}

.sidebar-item{
    display: block;
    box-sizing: border-box;
    padding: 0 0 15px 0;
}

.wim-sidebar select{
    background-color: white;
}
.wim-sidebar button{
    width: 100%;
}
.wim-sidebar label{
    display: block;
}
button:disabled{
    cursor: not-allowed;
}
select:focus{
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#0F8AFF" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}
.footer-links {
    display: block;
    box-sizing: border-box;
    padding: 0 5px;
    text-align: center;
    line-height: 1.5em;
    opacity: .75;
}
.footer-links a {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 4px;
    font-size: 8pt;
    text-decoration: none;
}
.identification {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9pt;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    opacity: .75;
    text-align: center;
    color: #6e7490;
}
.identification a {
    font-weight: 700;
    color: #6E7490;
    transition: .15s;    
}
/*.identification a:hover {
    transition: .15s;
    color: rgba(0,0,0,.9)!important;
}*/

.sidebar-item span {
    font-weight: 600;
    padding-right: 5px;
}

.sidebar-item i {
    cursor: pointer;
}