.wim-sidebar {
    background-color: #eceef4;
    width: 300px;
    pointer-events: auto;
    position: fixed;
    top: 70;
    transform: translate3d(0px, 0px, 0px);
    z-index: 100;
    margin-top: 70px;
    height: 100%;
    height: calc(100% - 70px);
    overflow: auto;
    box-sizing: border-box;
    padding: 25px 15px;
}

.sidebar-item{
    display: block;
    box-sizing: border-box;
    padding: 0 0 15px 0;
}

.wim-sidebar select{
    background-color: white;
}
.wim-sidebar button{
    width: 100%;
}
.wim-sidebar label{
    display: block;
}

select:focus{
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#0F8AFF" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

