<!-- Sidebar -->
<!-- Hidden on mobile, toggled with button on nav -->

<div class="sidebar-content">

    <div class="sidebar-item">
        <label>Choose Region:</label>
        <select id="regSelect" [(ngModel)]="selectedRegion" (ngModelChange)="onRegSelect($event)" name="region">
            <option selected hidden value=""></option>
            <option [ngValue]="i" *ngFor="let i of regions">{{i.name}}</option>
        </select>
    </div> <!-- end sidebar-item-->


    <div class="sidebar-item" *ngIf="statisticGroups">
        <span>
            <label>Limit by Statistic Group(s):</label>
            <i *ngIf="loggedInRole != 'Administrator'" class="far fa-info-circle" #t="ngbTooltip" ngbTooltip="Contact your administrator to add new items." triggers="click"></i>
        </span>
        <ss-multiselect-dropdown [options]="statisticGroups" [texts]="myMSTexts" [settings]="myRTSettings" name="selectedStatGrpIDs"
            [(ngModel)]="selectedStatGrpIDs" (ngModelChange)="onStatGrpSelect($event)">
        </ss-multiselect-dropdown>
    </div> <!-- end sidebar-item-->


    <div class="sidebar-item" *ngIf="regressionRegions">
        <div class="xs-f-btw">
			<label>Limit by Hydrologic Region(s):</label>
			<button class="icon-button hover-blue" (click)="showAddRegRegion()" *ngIf="loggedInRole == 'Administrator'" aria-label="Add Regression Region" >
				<i class="far fa-plus-circle"></i>
			</button>
			<button class="icon-button hover-blue" *ngIf="loggedInRole != 'Administrator'" #t="ngbTooltip" ngbTooltip="Contact your administrator to add new items." triggers="click">
				<i class="far fa-info-circle"></i>
			</button>
        </div>
        <ss-multiselect-dropdown [options]="regressionRegions" [texts]="myMSTexts" [settings]="myRRSettings" name="selectedRegRegionIDs"
            [(ngModel)]="selectedRegRegionIDs" (ngModelChange)="onRegressionRegSelect($event)"> 
        </ss-multiselect-dropdown>
    </div> <!-- end sidebar-item-->


    <div class="sidebar-item" *ngIf="regressionTypes">
        <span>
            <label>Limit by Statistic(s):</label>
            <i *ngIf="loggedInRole != 'Administrator'" class="far fa-info-circle" #t="ngbTooltip" ngbTooltip="Contact your administrator to add new items." triggers="click"></i>
        </span>
        <ss-multiselect-dropdown [options]="regressionTypes" [texts]="myMSTexts" [settings]="mySGSettings" name="selectedRegTypeIDs"
            [(ngModel)]="selectedRegTypeIDs" (ngModelChange)="onRegTypeSelect($event)">
        </ss-multiselect-dropdown>
    </div> <!-- end sidebar-item-->


    <div class="sidebar-item" *ngIf="scenarios && scenarios.length > 0 && scenarios[0].regressionRegions.length > 0">
		<label class="block">Calculate Statistic:</label>
		<div>
			<button [disabled]="scenarios[0].regressionRegions[0].Results != undefined || showCompute==false" type="button"class="button full" (click)="CalculateScenario()">
				<i class="far fa-check"></i>
				<span>Compute</span>
			</button>
    	</div>  
    </div> <!-- end sidebar-item-->

    <div class="sidebar-item center" *ngIf="(selectedRegRegionIDs && selectedRegRegionIDs.length > 0) || (selectedRegTypeIDs && selectedRegTypeIDs.length > 0)
        || (selectedStatGrpIDs && selectedStatGrpIDs.length > 0)">
        <button type="button" class="button blue small" (click)="clearSelections()">
			<i class="far fa-times"></i>
			<span>Reset Region Filters</span>
		</button>
    </div> <!-- end sidebar-item-->

    <div class="sidebar-item" *ngIf="showChart">
        <label>Chart:</label>
        <ul style="padding: 0px !important;">
            <div *ngFor="let pt of plotTypes" (click)="selectChart(pt)">
                <li style="list-style: none; cursor: pointer" class="simple-btn">{{pt}}</li>
            </div>
        </ul>
    </div> <!-- end sidebar-item-->

    <div class="sidebar-item" *ngIf="scenarios && scenarios.length > 0 && scenarios[0].regressionRegions.length > 0 && scenarios[0].regressionRegions[0].results != undefined">
        <label>Go To:</label>
        <ul style="padding: 0 !important;">
            <li style="list-style:none"><a pageScroll href="#citations" class="simple-btn-link">Citations</a></li>
            <li *ngIf="showChart" style="list-style:none"><a pageScroll href="#chart" class="simple-btn-link">Charts</a></li>
            <li style="list-style:none"><a pageScroll href="#appendix" class="simple-btn-link">Appendix</a></li>
        </ul>
	</div> <!-- end sidebar-item-->
	

	<!-- Spacer - fills space to align footer at bottom -->
	<div class="flex-spacer"></div>


	<!-- Footer, USGS Links -->
    <div class="sidebar-footer">
        <div class="identification">Powered by <a href="https://wim.usgs.gov/" target="_blank">WIM <img src="assets/img/favicon-pin.png"/></a></div>
		
		<div class="sidebar-footer-links">
			<a href="https://usgs.gov" target="_blank">USGS Home</a><a href="https://answers.usgs.gov" target="_blank">Contact
				USGS</a>
			<a href="https://search.usgs.gov" target="_blank">Search USGS</a>
			<a href="https://www2.usgs.gov/laws/accessibility.html" target="_blank">Accessibility</a>
			<a href="https://www2.usgs.gov/foia/" target="_blank">FOIA</a>
			<a href="https://www2.usgs.gov/laws/privacy.html" target="_blank">Privacy</a>
			<a href="https://www2.usgs.gov/laws/policies_notices.html" target="_blank">Policies &amp; Notices</a>
		</div>
    </div>
</div>