<div class="scrollable sidebar sidebar-left">
    <div class="sidebar-group">
        <div class="sidebar-item">
            <label>Choose Region:</label>
            <div class="col-md-12">
                <span class="select-wim">                    
                    <select [ngModel]="selectedRegion" (ngModelChange)="onRegSelect($event)" name="region">
                        <option [ngValue]="i" *ngFor="let i of regions">{{i.Name}}</option>
                    </select>
                </span>
            </div>
            <br clear="all"/>
        </div>  <!-- end sidebar-item-->
        
        <div class="sidebar-item" *ngIf="regressionRegions">
            <label>Limit by Regression Region(s):</label>
            <div class="col-md-12">
                <ss-multiselect-dropdown [options]="regressionRegions" [texts]="myRRTexts" [settings]="myRRSettings" 
                            [(ngModel)]="selectedRegRegionIDs" (ngModelChange)="onRegressionRegSelect($event)">
                </ss-multiselect-dropdown>
            </div>
            <br clear="all"/>
        </div>   <!-- end sidebar-item-->

        <div class="sidebar-item" *ngIf="statisticGroups">
            <label>Limit by Statistic Group(s):</label>
            <div class="col-md-12">
                <ss-multiselect-dropdown [options]="statisticGroups" [texts]="myRTTexts" [settings]="myRTSettings" 
                           [(ngModel)]="selectedStatGrpIDs" (ngModelChange)="onStatGrpSelect($event)">
                </ss-multiselect-dropdown>
            </div>
            <br clear="all" />
        </div>  <!-- end sidebar-item-->

        <div class="sidebar-item" *ngIf="regressionTypes">
            <label>Limit by Regression Type(s):</label>
            <div class="col-md-12">
                <ss-multiselect-dropdown [options]="regressionTypes" [texts]="mySGTexts" [settings]="mySGSettings" 
                            [(ngModel)]="selectedRegTypeIDs" (ngModelChange)="onRegTypeSelect($event)">
                </ss-multiselect-dropdown>
            </div>
            <br clear="all" />
        </div>  <!-- end sidebar-item-->

        <div class="sidebar-item" *ngIf="scenarios && scenarios.length > 0">
            <label>Calculate Statistic:</label>
            <button [disabled]="scenarios[0].RegressionRegions[0].Results != undefined" type="button" class="btn-wim-primary" (click)="CalculateScenario()">Compute</button>
        </div>  <!-- end sidebar-item-->

        <div class="sidebar-item" *ngIf="showChart">
            <label class="pull-left">Chart:</label>
            <div class="col-md-10">
                <span class="select-wim">
                    <select [(ngModel)]="selectedPlot">
                        <option [ngValue]=""></option>
                        <option *ngFor="let pt of plotTypes" [value]="pt">{{pt}}</option>
                    </select>
                </span>
                <button (click)="selectChart(selectedPlot)">Plot Chart</button>
            </div>            
            <br clear="all"/> <br/>           
        </div>   <!-- end sidebar-item-->

        <div class="sidebar-item" *ngIf="showChart">
            <label>Go To:</label>
            <ul>                
                <li style="list-style:none"><a pageScroll href="#citations">Citations</a></li>
                <li style="list-style:none"><a pageScroll href="#chart">charts</a></li>
                <li style="list-style:none"><a pageScroll href="#appendix">appendix for equations</a></li>
            </ul>            
        </div>    <!-- end sidebar-item-->

    </div> <!-- end sidebar-group-->
    
    
</div>