.mainPage {
    width:auto;
    margin-top: 102px;
    margin-left: 345px;
    position:relative;
    box-sizing: border-box;
    padding-right: 15px;
    
}

@media print{
    body * {
        visibility: hidden;
        -webkit-print-color-adjust: exact !important;
    }
    .hidden-print {
        display: none !important;
    }
    #printArea {
        margin-top: 0rem;
    }
}