<div id="printArea" class = "app-content">

    <h2 class="bold">{{title}}</h2>

    <h4>{{timestamp | date:"MMMM d, y hh:mma"}}</h4>

    <div class="hidden-print">
        <button *ngIf="loggedInRole" type="button" class="button small blue mright-xs"  (click)="showAddStationModal()">Add Station</button>
        <button *ngIf="loggedInRole" class="button small mright-xs" (click)="bulkUpload()">Bulk Upload</button>
        <button *ngIf="loggedInRole" type="button" class="button small mright-xs" (click)="export()">Export</button>
    </div>

    <span MathJax class="hidden" id="mathJaxLoad">`Preloading`</span> 
    <div class="col-md-6" style="padding: 0;">
        <div *ngIf="showStationType" class="app-body-section">
            <label class="big">Station Type:</label>
            <h5 class="bold">{{selectedStationType}}</h5>  
        </div>
    </div>

    <div *ngIf="showStationType" class="form-group">
        <label>Page</label>
        <input [value]="currentPageNumber" (change)="newPage($event)"/>
        <label >of {{lastPageNumber}}</label>
    </div>
   
   <div class="hidden-print" >
        <table style="border:solid 1px gray" class="custom-table mtop-lg"> 
            <thead>
                <tr>
                    <th class="col-xs-1">Type</th>
                    <th class="col-xs-2">Agency</th>
                    <th class="col-xs-1">Code</th>
                    <th class="col-xs-4">Name</th>
                    <th class="col-xs-1">Latitude</th>
                    <th class="col-xs-1">Longitude</th>
                    <th class="col-xs-1">Regulated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let s of selectedStations">
                    <td>{{getStationType(s.stationTypeID)}}</td>
                    <td>{{getAgencyName(s.agencyID)}}</td>
                    <td>{{s.code}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.location.coordinates[1]}}</td>
                    <td>{{s.location.coordinates[0]}}</td>
                    <td>{{s.isRegulated}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>
