<ng-template #addStation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left" > Add Station </h4>
            <!--close and save-->
            <button class="close pull-right" (click)="c('closed')">x</button><br><br>
        </div>
    </div>
    <div class="modal-body">
        



        <div class="modal-footer">
            <!--close and save-->
            <button type="button" (click)="clearStation()" class="btn-black">Clear All</button>
            <button type="button" (click)="c('closed')" class="btn-black">Cancel</button>
            <button type="button" (click)="addNewStation()" class="btn-blue">Add</button>
        </div>
    </div>
</ng-template>
