<div>
    <legend style="margin-bottom:25px;margin-top:0;">Roles</legend>
</div>
<button [hidden]="loggedInRole !== 'Administrator'" type="button" class="btn-blue" (click)="showNewRoleForm()"><i class="fa fa-plus"
    aria-hidden="tru"></i> Add New Role</button>

<form #RoleForm="ngForm">
    <div class="form-group" *ngIf="roles">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-4">Name</th>
                    <th class="col-xs-4">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of roles; let i = index">
                    <td>
                        <div class="data-controls">
                            <i *ngIf="!v.isEditing" title="Edit Role" (click)="EditRowClicked(i)" class="fa fa-pencil"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>&nbsp;
                            <i *ngIf="!v.isEditing" title="Delete Role" (click)="deleteRole(v.id)" class="fa fa-times"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="v.isEditing" title="Save Role" (click)="saveRole(v,i)" class="fa fa-floppy-o"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="v.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="fa fa-history"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="!v.isEditing">{{ v.name }}</span>
                        <span *ngIf="v.isEditing"><input type="text" name="name" [(ngModel)]="v.name" required></span>
                    </td>
                    <td>
                        <span *ngIf="!v.isEditing">{{ v.description }}</span>
                        <span *ngIf="v.isEditing"><input type="text" name="description" [(ngModel)]="v.description" required></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />

<!-- new role form -->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">New Role </h4>
            <button class="close pull-right" (click)="d('closed')">x</button>
        </div>
    </div>
    <div class="modal-body">
        <h3 class="modal-title">New Role</h3>
        <form [formGroup]="newRoleForm">
            <!-- Role Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newRoleForm.get('name').valid && newRoleForm.get('name').dirty}">
                <label class="req" for="name">Name:</label>
                <input class="form-control" type="text" formControlName="name" required>
                <div class="input-invalid-warning" *ngIf="!newRoleForm.get('name').valid && newRoleForm.get('name').dirty">Role
                    Name is required</div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" rows="3" placeholder="" formControlName="description"></textarea>
            </div>

        </form>

        <div class="modal-footer">
            <button type="button" (click)="d('closed')" class="btn-black">Cancel</button>
            <button type="button" (click)="createNewRole()" [disabled]="!newRoleForm.valid" class="btn-blue">Create</button>
        </div>
    </div>
</ng-template>