<div>
    <legend style="margin-bottom:25px;margin-top:0;">Variable Types</legend>
</div>
<button [hidden]="loggedInRole !== 'Administrator'" type="button" class="btn-blue" (click)="showNewVariableForm()"><i class="fa fa-plus"
    aria-hidden="tru"></i> Add New Variable Type</button>

<form #VariableTypeForm="ngForm">
    <div class="form-group" *ngIf="variableTypes">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-4">Name</th>
                    <th>Description</th>
                    <th class="col-xs-1">Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of variableTypes; let i = index">
                    <td>
                        <div class="data-controls">
                            <i *ngIf="!v.isEditing" title="Edit Variable Type" (click)="EditRowClicked(i)" class="fa fa-pencil"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>&nbsp;
                            <i *ngIf="!v.isEditing" title="Delete Variable Type" (click)="deleteVariable(v.id)" class="fa fa-times"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="v.isEditing" title="Save Variable Type" (click)="saveVariable(v,i)" class="fa fa-floppy-o"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="v.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="fa fa-history"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="!v.isEditing">{{ v.name }}</span>
                        <span *ngIf="v.isEditing"><input type="text" name="name" [(ngModel)]="v.name" required></span>
                    </td>
                    <td>
                        <span *ngIf="!v.isEditing">{{ v.description }}</span>
                        <span *ngIf="v.isEditing"><textarea rows="3" [(ngModel)]="v.description" name="description"></textarea></span>
                    </td>
                    <td>
                        <span *ngIf="!v.isEditing">{{ v.code }}</span>
                        <span *ngIf="v.isEditing"><input type="text" name="code" [(ngModel)]="v.code" required></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />

<!-- new variable type form -->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">New Variable Type </h4>
            <button class="close pull-right" (click)="d('closed')">x</button>
        </div>
    </div>
    <div class="modal-body">
        <h3 class="modal-title">New Variable Type</h3>
        <form [formGroup]="newVarForm">
            <!-- Variable Type Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newVarForm.get('name').valid && newVarForm.get('name').dirty}">
                <label class="req" for="name">Name:</label>
                <input class="form-control" type="text" formControlName="name" required>
                <div class="input-invalid-warning" *ngIf="!newVarForm.get('name').valid && newVarForm.get('name').dirty">Variable
                    Name is required</div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" rows="3" placeholder="" formControlName="Description"></textarea>
            </div>

            <!-- Short Name -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newVarForm.get('code').valid && newVarForm.get('code').dirty}">
                <label class="req" for="code">Code:</label>
                <input class="form-control" type="text" formControlName="code">
                <div class="input-invalid-warning" *ngIf="!newVarForm.get('code').valid && newVarForm.get('code').dirty">Code
                    is required</div>
            </div>

        </form>

        <div class="modal-footer">
            <button type="button" (click)="d('closed')" class="btn-black">Cancel</button>
            <button type="button" (click)="createNewVariableType()" [disabled]="!newVarForm.valid" class="btn-blue">Create</button>
        </div>
    </div>
</ng-template>