<h3 class="mbottom-md">Variable Types</h3>

<div class="statSelect pbottom-md">
    <label for="statistic" class="block">Filter By Statistic Group:</label>
    <select [ngModel]="selectedStatistic" (ngModelChange)="onStatSelect($event)" name="statistic" class="input-small">
        <option value="none">None</option>
        <option [ngValue]="i" *ngFor="let i of statisticGroups">{{ i.name }}</option>
    </select>
</div>

<button type="button" class="button blue small mbottom-sm" (click)="showNewVariableForm()">
	<i class="far fa-plus" aria-hidden="true"></i> 
	<span>Add Variable Type</span>
</button>

<button type="button" class="button blue small mbottom-sm" (click)="showBatchVariableForm()">
	<i class="far fa-plus" aria-hidden="true"></i> 
	<span>Batch Upload Variable Type</span>
</button>

<form #VariableTypeForm="ngForm">
    <div class="form-group" *ngIf="variableTypes">
        <table class="custom-table mtop-sm">
            <thead>
                <tr>
                    <th class="width-5"></th>
                    <th class="width-15">Name</th>
                    <th class="width-20">Description</th>
                    <th class="col-xs-10">Code</th>
                    <th class="col-xs-15">English Unit</th>
                    <th class="col-xs-15">Metric Unit</th>
                    <th class="col-xs-15">Statistic Group</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of variableTypes; let i = index">
                    <td class="width-5 table-icon-buttons">
						<button *ngIf="!v.isEditing" title="Edit Variable Type" (click)="EditRowClicked(i)" class="icon-button">
							<i class="far fa-pencil"></i>
						</button>
						<button *ngIf="!v.isEditing" title="Delete Variable Type" (click)="deleteVariable(v.id)" class="icon-button hover-red">
							<i class="far fa-times"></i>
						</button>
						<button *ngIf="v.isEditing" title="Save Variable Type" (click)="saveVariable(v,i)" class="icon-button">
							<i class="far fa-floppy-o"></i>
						</button>
						<button *ngIf="v.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="icon-button">
							<i class="far fa-history"></i>
						</button>
                    </td>
                    <td class="width-15">
                        <span *ngIf="!v.isEditing">{{ v.name }}</span>
                        <span *ngIf="v.isEditing"><input type="text" name="name" [(ngModel)]="v.name" required></span>
                    </td>
                    <td class="width-20">
                        <span *ngIf="!v.isEditing">{{ v.description }}</span>
                        <span *ngIf="v.isEditing"><textarea rows="3" [(ngModel)]="v.description" name="description"></textarea></span>
                    </td>
                    <td class="width-10">
                        <span *ngIf="!v.isEditing">{{ v.code }}</span>
                        <span *ngIf="v.isEditing"><input type="text" name="code" [(ngModel)]="v.code" required></span>
                    </td>
                    <td class="width-15">
                        <span *ngIf="!v.isEditing && v.englishUnitType">{{ v.englishUnitType.name }}</span>
                        <span *ngIf="v.isEditing">
                            <ng-select  bindLabel="name" [items]="englishUnitTypes" [(ngModel)]="v.englishUnitType" name="englishUnit" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                                <ng-option *ngFor="let ut of englishUnitTypes" [value]="ut">{{ut.name}} ({{ut.abbr}})</ng-option>
                            </ng-select>
                        </span>
                    </td>
                    <td class="width-15">
                        <span *ngIf="!v.isEditing && v.metricUnitType">{{ v.metricUnitType.name }}</span>
                        <span *ngIf="v.isEditing">
                            <ng-select  bindLabel="name" [items]="metricUnitTypes" [(ngModel)]="v.metricUnitType" name="metricUnit" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                                <ng-option *ngFor="let ut of metricUnitTypes" [value]="ut">{{ut.name}} ({{ut.abbr}})</ng-option>
                            </ng-select>
                        </span>
                    </td>
                    <td class="width-15">
                        <span *ngIf="!v.isEditing && v.statisticGroupType">{{ v.statisticGroupType.name }}</span>
                        <span *ngIf="v.isEditing">
                            <ng-select  bindLabel="name" [items]="statisticGroups" [(ngModel)]="v.statisticGroupType" name="statisticGroup" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                                <ng-option *ngFor="let sg of statisticGroups" [value]="sg">{{sg.name}} ({{sg.code}})</ng-option>
                            </ng-select>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />

<!-- new variable type form -->
<ng-template #add let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="title">New Variable Type</div>  
		<button class="icon-button" (click)="d('closed')"><i class="far fa-times"></i></button>                
	</div>
    <div class="modal-body">
        <form [formGroup]="newVarForm">
            <!-- Variable Type Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newVarForm.get('name').valid && newVarForm.get('name').dirty}">
                <label class="req" for="name">Name:</label>
                <input class="form-control" type="text" formControlName="name" required>
                <div class="input-invalid-warning" *ngIf="!newVarForm.get('name').valid && newVarForm.get('name').dirty">Variable
                    Name is required</div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" rows="3" placeholder="" formControlName="description"></textarea>
            </div>

            <!-- Short Name -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newVarForm.get('code').valid && newVarForm.get('code').dirty}">
                <label class="req" for="code">Code:</label>
                <input class="form-control" type="text" formControlName="code">
                <div class="input-invalid-warning" *ngIf="!newVarForm.get('code').valid && newVarForm.get('code').dirty">Code
                    is required</div>
            </div>

            <!-- Enlgish Unit Type -->
            <div class="form-group">
                <label for="description">English Unit Type:</label>
                <ng-select formControlName="englishUnitTypeID"  bindLabel="id" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                    <ng-option *ngFor="let ut of englishUnitTypes" [value]="ut.id">{{ut.name}} ({{ut.abbr}})</ng-option>
                </ng-select>
            </div>

            <!-- Metric Unit Type -->
            <div class="form-group">
                <label for="description">Metric Unit Type:</label>
                <ng-select formControlName="metricUnitTypeID"  bindLabel="id" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                    <ng-option *ngFor="let ut of metricUnitTypes" [value]="ut.id">{{ut.name}} ({{ut.abbr}})</ng-option>
                </ng-select>
            </div>

            <!-- Statistic Group Type -->
            <div class="form-group">
                <label for="description">Statistic Group Type:</label>
                <ng-select formControlName="statisticGroupTypeID"  bindLabel="id" [selectOnTab]="true" [closeOnSelect]="true" [clearable]="false" >
                    <ng-option *ngFor="let sg of statisticGroups" [value]="sg.id">{{sg.name}} ({{sg.code}})</ng-option>
                </ng-select>
            </div>

        </form>
	</div>
	
	<!-- Footer / Buttons -->
	<div class="modal-body-footer">
		<button type="button" (click)="d('closed')" class="button">Cancel</button>
		<button type="button" (click)="createNewVariableType()" [disabled]="!newVarForm.valid" class="button blue">Create</button>
	</div>
</ng-template>

<!-- batch variable type form -->
<ng-template #batch let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="title">Batch Upload Variable Type</div>  
		<button class="icon-button" (click)="d('closed')"><i class="far fa-times"></i></button>                
	</div>
    <div class="modal-body">
        <div class="upload-type" *ngIf='!selectUpload'>    
            <button type="button" class="button blue" (click)='selectUpload = true;'>Upload Variables</button>
        </div>

        <div *ngIf="!selectUpload" class="upload-type">
            <h6>For an example template download the file <a href="./assets/example_variable_bulk_upload.xlsx">here</a>.</h6>
        </div>
        <!-- File selector -->
        <div class="upload-input">
            <input *ngIf='selectUpload && !tableDisplay' (change)="selectFile($event)" accept=".xls,.xlsx" type='file'/>
        </div>
        <!-- Select worksheet -->
        <div *ngIf="sheetNamesButtons">
            <h6 class="title">Select a Worksheet:</h6>
            <ng-container *ngFor="let sheetName of wb.SheetNames">
                    <button class="button grey mright-sm mtop-xs" (click)='selectSheet(sheetName)'>{{sheetName}}</button>
            </ng-container>
        </div>

        <div *ngIf="tableDisplay">
            <form class="editScen">
                <div class="table-title" >
                    <div class="edit-scen-wrapper">
                        <table class="custom-table">
                            <thead>
                                <tr>
                                    <th class="width-10">Name</th>
                                    <th class="width-15">Description</th>
                                    <th class="width-10">Code</th>
                                    <th class="width-10">English Unit Type</th>
                                    <th class="width-10">Metric Unit Type</th>
                                    <th class="width-10">Statistic Group Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let v of variables, let i = index">
                                    <td>{{ v.name }}</td>
                                    <td>{{ v.description }}</td>
                                    <td>{{ v.code }}</td>
                                    <td>{{ v.englishUnitType.name }}</td>
                                    <td>{{ v.metricUnitType.name }}</td>
                                    <td>{{ v.statisticGroupType.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <br>
                </div>
            </form>
        </div>

	</div>
	


	<!-- Footer / Buttons -->
	<div class="modal-body-footer">
		<button type="button" (click)="d('closed')" class="button">Cancel</button>
		<button type="button" (click)="batchUploadVariableType()" class="button blue">Create</button>
	</div>
</ng-template>