<h3 class="mbottom-md">Errors</h3>

<button [hidden]="loggedInRole !== 'Administrator'" type="button" class="button blue small" (click)="showNewErrorForm()">
	<i class="far fa-plus" aria-hidden="true"></i> 
	<span>Add New Error</span>
</button>

<form #ErrorForm="ngForm">
    <div class="form-group" *ngIf="errors">
        <table class="custom-table mtop-sm">
            <thead>
                <tr>
                    <th class="width-5"></th>
                    <th class="width-60">Name</th>
                    <th class="width-35">Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of errors; let i = index">
                    <td class="table-icon-buttons">
						<button *ngIf="!v.isEditing" title="Edit Error" (click)="EditRowClicked(i)" class="icon-button" aria-hidden="true">
							<i class="far fa-pencil"></i>
						</button>
						<button *ngIf="!v.isEditing" title="Delete Error" (click)="deleteError(v.id)" class="icon-button" aria-hidden="true">
							<i class="far fa-times"></i>
						</button>
						<button *ngIf="v.isEditing" title="Save Error" (click)="saveError(v,i)" class="icon-button" aria-hidden="true">
							<i class="far fa-floppy-o"></i>
						</button>
						<button *ngIf="v.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="icon-button" aria-hidden="true">
							<i class="far fa-history"></i>
						</button>
                    </td>
                    <td>
                        <span *ngIf="!v.isEditing">{{ v.name }}</span>
                        <span *ngIf="v.isEditing"><textarea rows="3" [(ngModel)]="v.name" name="name"></textarea></span>
                    </td>
                    <td>
                        <span *ngIf="!v.isEditing">{{ v.code }}</span>
                        <span *ngIf="v.isEditing"><input type="text" name="code" [(ngModel)]="v.code" required></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />

<!-- new error form -->
<ng-template #add let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="title">New Error</div>  
		<button (click)="d('closed')">&times;</button>                
    </div>
    <div class="modal-body">
        <form [formGroup]="newErrForm">
            <!-- Name -->
            <div class="form-group required">
                <label for="name">Name:</label>
                <textarea class="form-control" rows="3" placeholder="" formControlName="name"></textarea>
                <div class="input-invalid-warning" *ngIf="!newErrForm.get('name').valid && newErrForm.get('name').dirty">Author
                        is required</div>
            </div>
            <!-- Code* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newErrForm.get('code').valid && newErrForm.get('code').dirty}">
                <label class="req" for="name">Code:</label>
                <input class="form-control" type="text" formControlName="code" required>
                <div class="input-invalid-warning" *ngIf="!newErrForm.get('code').valid && newErrForm.get('code').dirty">Author
                    is required</div>
            </div>

        </form>

        <div class="modal-footer">
            <button type="button" (click)="d('closed')" class="button">Cancel</button>
            <button type="button" (click)="createNewError()" [disabled]="!newErrForm.valid" class="button blue">Create</button>
        </div>
    </div>
</ng-template>