<div>
    <legend style="margin-bottom:25px;margin-top:0;">Managers</legend>
</div>

<button type="button" class="btn-blue" (click)="showNewUserForm()"><i class="fa fa-plus"
    aria-hidden="tru"></i> Add New Manager</button>

<form #User TypeForm="ngForm">
    <div class="form-group" *ngIf="managers">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-2">Username</th>
                    <th class="col-xs-2">Email</th>
                    <th class="col-xs-2">First name</th>
                    <th class="col-xs-2">Last Name</th>
                    <th class="col-xs-2">Role</th>
                    <th class="col-xs-1">Regions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of managers; let i = index">
                    <td>
                        <div class="data-controls">
                            <!--<i *ngIf="!m.isEditing" title="Edit Manager" (click)="EditRowClicked(i)" class="fa fa-pencil"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>&nbsp;-->
                            <i *ngIf="!m.isEditing" title="Delete Manager" (click)="deleteManager(m.id)" class="fa fa-times"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="m.isEditing" title="Save Manager" (click)="saveManager(m,i)" class="fa fa-floppy-o"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="m.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="fa fa-history"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                        </div> 
                    </td>
                    <td>
                        <span *ngIf="!m.isEditing">{{ m.username }}</span>
                        <span *ngIf="m.isEditing"><input type="text" name="username" [(ngModel)]="m.username" required></span>
                    </td>
                    <td>
                        <span *ngIf="!m.isEditing">{{ m.email }}</span>
                        <span *ngIf="m.isEditing"><input type="text" name="email" [(ngModel)]="m.email" required></span>
                    </td>
                    <td>
                        <span *ngIf="!m.isEditing">{{ m.firstName }}</span>
                        <span *ngIf="m.isEditing"><input type="text" name="firstName" [(ngModel)]="m.firstName" required></span>
                    </td>
                    <td>
                        <span *ngIf="!m.isEditing">{{ m.lastName }}</span>
                        <span *ngIf="m.isEditing"><input type="text" name="lastName" [(ngModel)]="m.lastName" required></span>
                    </td>
                    <td>
                        <span *ngIf="!m.isEditing">{{ m.role }}</span>
                        <span *ngIf="m.isEditing">
                            <select [(ngModel)]="m.role" name="role">
                                <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                            </select></span>
                    </td>
                    <td>
                        <span *ngIf="!m.isEditing">{{getRegionNames(m)}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />

<!-- new user form -->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">New Manager </h4>
            <button class="close pull-right" (click)="d('closed')">x</button>
        </div>
    </div>
    <div class="modal-body">
        <h3 class="modal-title">New Manager</h3>
        <form [formGroup]="newUserForm">
            <!-- UserName* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newUserForm.get('username').valid && newUserForm.get('username').dirty}">
                <label class="req" for="username">Username:</label>
                <input class="form-control" type="text" formControlName="username" required>
                <div class="input-invalid-warning" *ngIf="!newUserForm.get('username').valid && newUserForm.get('username').dirty">Username 
                    is required</div>
            </div>

            <!-- Email* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newUserForm.get('email').valid && newUserForm.get('email').dirty}">
                    <label class="req" for="email">Email:</label>
                    <input class="form-control" type="text" formControlName="email">
                    <div class="input-invalid-warning" *ngIf="!newUserForm.get('email').valid && newUserForm.get('email').dirty">Email
                        is required</div>
                </div>

            <!-- Password -->
            <div class="form-group" [ngClass]="{'form-invalid': !newUserForm.get('password').valid && newUserForm.get('password').dirty}">
                <label class="req" for="password">Password:</label>
                <input class="form-control" type="password" formControlName="password">
            </div>

            <!-- First Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newUserForm.get('firstName').valid && newUserForm.get('firstName').dirty}">
                <label class="req" for="firstName">First Name:</label>
                <input class="form-control" type="text" formControlName="firstName" required>
                <div class="input-invalid-warning" *ngIf="!newUserForm.get('firstName').valid && newUserForm.get('firstName').dirty">First
                    Name is required</div>
            </div>

            <!-- Last Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newUserForm.get('lastName').valid && newUserForm.get('lastName').dirty}">
                <label class="req" for="lastName">Last Name:</label>
                <input class="form-control" type="text" formControlName="lastName">
                <div class="input-invalid-warning" *ngIf="!newUserForm.get('lastName').valid && newUserForm.get('lastName').dirty">Last Name
                    is required</div>
            </div>

            <!-- Role* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newUserForm.get('role').valid && newUserForm.get('role').dirty}">
                <label class="req" for="role">Role:</label>
                <select class="form-control" formControlName="role" #role>
                    <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                </select>
                <div class="input-invalid-warning" *ngIf="!newUserForm.get('role').valid && newUserForm.get('role').dirty">Role
                    is required</div>
            </div>
            <!-- Regions* -->
            <div formArrayName="regionManagers"  *ngIf="role.value == 'Manager'">
                <div *ngFor="let var of newUserForm.get('regionManagers').controls; let varIndex = index">
                    <div (click)="removeRegion(varIndex)"><i class="ion-close"></i><span class="ml-1">Region {{varIndex + 1}}</span></div>
                    <div [formGroupName]="varIndex" [id]="'variable' + (varIndex + 1)">
                        <div class="form-group">
                            <label class="req" for="regionID">Regions:</label>
                            <select class="form-control" formControlName="regionID">
                                <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <button *ngIf="role.value == 'Manager'" type="button" class="btn-blue" (click)="addRegion()">Add Region</button>

        </form>

        <div class="modal-footer">
            <button type="button" (click)="d('closed')" class="btn-black">Cancel</button>
            <button type="button" (click)="createNewUser()" [disabled]="!newUserForm.valid" class="btn-blue">Create</button>
        </div>
    </div>
</ng-template>