// MainView
// Main content area

.app-body-section{
	margin-top: 25px;
}

// Misc styles

// Citation link
.citation{
	display: block;
	font-size: 13px;
	line-height: 16px;
	margin: 10px 0;
	font-weight: 500;
	box-sizing: border-box;
	padding-left: 15px;
}

// Small red warning text
.warning-text{
    color:red;
    font-style: italic;
    font-size: small;
}



.reqError {
    background-color: #efe1e1!important;
    border: 1px solid #a94442!important;
}
.redFont {
    color:red;
}
[hidden] { display: none !important;}
[type="radio"] {
    position: initial !important;
}
[type="checkbox"] {
    position: initial !important;
}
@media print{
    body * {
        visibility: hidden;
        -webkit-print-color-adjust: exact !important;
    }
    .hidden-print {
        display: none !important;
    }
    #printArea {
        margin-top: 0rem;
    }
}

.sgLabel {
    font-size: 1.2rem !important;
    border-bottom: 1px black solid;
}

.rrLabel {
    font-size: 1.2rem !important;
    padding-top: 25px;
}

.addErrorButton {
    padding: 5px;
    height: 30px;
}