// MainView
// Main content area

.app-body-section{
	margin-top: 25px;
}

// Misc styles
// Citation link
.citation{
	display: block;
	font-size: 15px;
	line-height: 17px;
	margin: 15px 0;
	font-weight: 500;
	box-sizing: border-box;
	padding-left: 15px;
}


.download-divider{
	display: flex;
	height: 30px;

	.controls{
	}

	.divider{
		flex-grow: 3;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;

		&:after{
			content: 'x';
			font-size: 0;
			height: 3px;
			background-color: var(--grey);
		}
		&:after{
			content: '\f0d7';
			font-size: 32px;
			position: absolute;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-family: var(--fontAwesome);
			font-size: 0;
			height: 3px;
			background-color: var(--grey);
		}
	}
}









.reqError {
    background-color: #efe1e1!important;
    border: 1px solid #a94442!important;
}

[hidden] { display: none !important;}
[type="radio"] {
    position: initial !important;
}
[type="checkbox"] {
    position: initial !important;
}
@media print{
    body * {
        visibility: hidden;
        -webkit-print-color-adjust: exact !important;
    }
    .hidden-print {
        display: none !important;
    }
    #printArea {
        margin-top: 0rem;
    }
}

.sgLabel {
    font-size: 1.2rem !important;
    border-bottom: 1px black solid;
}

.rrLabel {
    font-size: 1.2rem !important;
    padding-top: 25px;
}

.addErrorButton {
    padding: 5px;
    height: 30px;
}

.charts-header{
	font-size: 32px !important;
	letter-spacing: 0 !important;
	display: inline-block;
	margin-right: 42px;
	margin-bottom: 0 !important;
	position: relative;
	top: 8px;
  }
  
  .chart-wrapper{
	border: 1px solid rgba(0,0,0,0.3);
	display:inline-block;
	margin-bottom:65px !important;
	max-height: 460px !important;
	padding: 0 !important;
  }
  