<div class="mainPage scrollable">
    
    <!-- toaster directive -->
    <toaster-container></toaster-container>
    <!-- / toaster directive -->

    <div><h3>{{title}}</h3></div>
    <div>{{timestamp | date:"MMMM d, y hh:mma"}}</div>
    
    <div *ngIf="selectedRegion">       
       <label>Region:</label>
       <div>{{selectedRegion.Name}}</div>        
    </div>   
    
    <br/>
    <div *ngIf="selectedRegRegion">
        <label>Regression Region(s):</label>
        <div>
            <span *ngFor="let rr of selectedRegRegion;let isLast=last">{{rr.Name}}{{isLast ? "" : ", "}}</span>
        </div>
    </div>

    <br />
    <div *ngIf="selectedStatisticGrp">
        <label>Statistic Group(s):</label>
        <div>
            <span *ngFor="let st of selectedStatisticGrp;let isLast=last">{{st.Name}}{{isLast ? "" : ", "}}</span>
        </div>
    </div>

    <br />
     <!-- scenarios && !resultsBack-->
    <div *ngIf="scenarios && !resultsBack">
        <label>Equation Variables</label>
        <br/>
        <div *ngIf="scenarios.length == 0">There are no scenarios available for the options chosen.</div>
        <form #scenarioForm="ngForm">
            <div class="col-md-11" *ngFor="let sc of scenarios;let sInd = index">
                <h3>{{sc.StatisticGroupName}}</h3>
                <div class="col-md-7" *ngIf="sc.RegressionRegions?.length > 0">
                    <table class="table-condensed">
                        <tr *ngFor="let rr of sc.RegressionRegions;let rInd = index">
                            <td style="vertical-align:middle;">{{rr.Name}}</td>
                            <td *ngIf="showWeights" class="col-md-3" style="vertical-align:middle;text-align:end;">% Area Weight:</td>
                            <td *ngIf="showWeights" class="col-md-2">
                                <input style="display:inline;" type="text" id="PercentWeight"class="form-control" (keypress)="_keyPress($event)" name="PercentWeight-{{rInd}}" [(ngModel)]="rr.PercentWeight">
                            </td>
                        </tr>
                    </table>                   
                </div><!-- end length > 0-->
                <div *ngIf="sc.RegressionRegions.length == 0"><h3>There are no Results for your selection. Please try another .... </h3></div>
            </div>  <!-- end ngFor scenarios -->

            <table *ngIf="scenarios[0].RegressionRegions.length > 0" style="border:solid 1px gray" class="table table-condensed">
                <thead>
                    <tr><th class="col-md-5">Parameter</th><th>Code</th><th class="col-md-3">Value</th><th class="col-md-2">Min Limit</th><th class="col-md-2">Max Limit</th></tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let p of uniqueParameters;let pInd=index ">
                        <td>{{p.Name}} <a (click)="showDescription(p, pInd)"><span class="glyphicon glyphicon-question-sign nss-tooltip"></span></a>
                            <!-- description span -->
                            <br *ngIf="p.seeDescription"/>
                            <span style="font-size:small;" *ngIf="p.seeDescription">{{p.Description}}</span>
                            <!-- outOfRange span -->
                            <br *ngIf="p.OutOfRange"/>
                            <span *ngIf="p.OutOfRange" class="warning-text">Warning: Parameter is outside of suggested range. Estimates will be extrapolations with unknown errors</span>                                        
                        </td>
                        <td>{{p.Code}}</td>
                        <td>
                            <div class="col-md-10" style="margin-left:0;padding-left:0;">                         
                                <input class="form-control" style="display:inline;width: 70%" [ngClass]="{'reqError':p.missingVal}" type="text" 
                                        (keypress)="_keyPress($event)" (blur)="compareValue(p)" [(ngModel)]="p.Value" name="Value-{{pInd}}" required>
                                <span style="display:inline;">({{p.UnitType.Abbr}})</span>
                            </div>
                        </td>
                        <td><span *ngFor="let l of p.LimitArray"><span *ngIf="l!=undefined" [ngClass]="{'redFont':l.OutOfRange}">{{l != undefined ? (l.Min | number:'2.1-2'): "--"}} ({{p.UnitType.Abbr}})<br/></span></span></td>
                        <td><span *ngFor="let l of p.LimitArray"><span *ngIf="l!=undefined" [ngClass]="{'redFont':l.OutOfRange}">{{l != undefined ? (l.Max | number:'2.1-2') : "--"}} ({{p.UnitType.Abbr}})<br/></span></span></td>
                    </tr>
                </tbody>
            </table>       
        
            <div *ngFor="let sc of scenarios">
                <label *ngIf="sc.Citations">{{sc.StatisticGroupName}} Citations</label>
                <div *ngFor="let l of sc.Citations">
                    <a [href]="l.CitationURL" [target]="_blank">
                        <div>{{l.Author}}</div>
                        <div>{{l.Title}}</div>
                    </a>
                    <br />                    
                </div>
            </div><!--end foreach scenario (for citations) -->            
        </form>
    </div> <!--end if scenarios-->

     <!-- resultsBack-->
    <div *ngIf="resultsBack">        
        <button type="button" class="btn-wim-primary" (click)="editScenario()">Edit Scenario Parameters</button>
        <div *ngFor="let s of scenarios">
            {{s.StatisticGroupName}}<br/>
            <div *ngFor="let rr of s.RegressionRegions">
                <div *ngIf="rr.ID > 0">
                    {{rr.Name}} Region<br />
                    <span *ngIf="rr.PercentWeight">{{rr.PercentWeight}}% Weighted</span>
                    <div *ngFor="let p of rr.Parameters">
                        {{p.Name}} = {{p.Value}} {{p.UnitType.Abbr}}
                    </div> <br />
                    
                    <br />
                    <div class="col-md-12">
                        <span>[Errors SE, Average Standard Error (of either estimate or prediction); Errors SEe, Average Standard Error of Estimate; Errors SEp, Average Standard Error of Prediction;]</span>
                        <table style="border:solid 1px gray" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-6"></th>
                                    <th>Value</th>                                    
                                    <th *ngIf="rr.Results[0].IntervalBounds" colspan="2">Predicted Interval</th>
                                    <th colspan="3" *ngIf="rr.Results[0].Errors">Errors (%)</th>
                                    <th *ngIf="rr.Results[0].EquivalentYears>0">Equivalent</th>
                                </tr>
                                <tr>
                                    <th class="col-md-6">Description</th>
                                    <th>{{rr.Results[0].Unit.Abbr}}</th>                                    
                                    <th *ngIf="rr.Results[0].IntervalBounds">Low</th>
                                    <th *ngIf="rr.Results[0].IntervalBounds">High</th>
                                    <th *ngFor="let e of rr.Results[0].Errors">{{e.Code}}</th>
                                    <th *ngIf="rr.Results[0].EquivalentYears>0">Years</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let result of rr.Results">
                                    <td>{{result.Description}} ({{result.code}})</td>
                                    <td>{{result.Value | number:'2.1-3'}}</td>                                    
                                    <td *ngIf="rr.Results[0].IntervalBounds">{{result.IntervalBounds != undefined ? (result.IntervalBounds.Lower | number:'2.1-3') : '---'}}</td>
                                    <td *ngIf="rr.Results[0].IntervalBounds">{{result.IntervalBounds != undefined ? (result.IntervalBounds.Upper | number:'2.1-3') : '---'}}</td>
                                    <td *ngFor="let e of result.Errors">{{e.Value}}</td>
                                    <td *ngIf="rr.Results[0].EquivalentYears>0">{{result.EquivalentYears > 0 && result.EquivalentYears !== 999 ? result.EquivalentYears : 'N/A'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="rr.ID == 0">
                    {{rr.Name}}<br />
                    <br />
                    <div class="col-md-12">
                        <table style="border:solid 1px gray" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-6">Description</th>                                    
                                    <th>Value</th>
                                    <th *ngIf="rr.Results[0].EquivalentYears>0">Equivalent<br/>Years</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let result of rr.Results">
                                    <td>{{result.Description}} ({{result.code}})</td>                                    
                                    <td>{{result.Value | number:'2.1-3'}}</td>                                    
                                    <td *ngIf="rr.Results[0].EquivalentYears>0">{{result.EquivalentYears}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- end 'Area-averaged'-->
            </div>
            <label *ngIf="s.Citations">{{s.StatisticGroupName}} Citations</label>
            <div id="citations" *ngFor="let l of s.Citations">
                <a [href]="l.CitationURL" [target]="_blank">
                    <div>{{l.Author}}</div>
                    <div>{{l.Title}}</div>
                </a>
                <br />
            </div>
        </div> <!-- end for each Scenario-->   
        <!-- ngfor each chart being added show here
            //if showCharts_btn is true == show the charts and showChartBtn_txt says "Hide"
            //if showCharts_btn is false == hide the charts and showChartBtn_txt says "Show" -->
        <!-- charts-->
        <div id="chart">
            <div class="col-md-12" *ngIf="hydroChartsArray.length >0">
                <h2 style="display:inline-block;margin-right:42px;">Charts</h2>
                <button style="display:inline-block;" type="button" (click)="showHideCharts()">{{showChartBtn_txt}}</button>
            </div>
            <div *ngIf="showCharts_btn">
                <div class="col-md-11" *ngFor="let c of hydroChartsArray;let i = index">
                    <div style="border:solid gray 1px;display:inline-block;margin-bottom:5px;">
                        <button type="button" class="pull-right" (click)="removeHydroChart(i)">x</button><br clear="all" />
                        <chart (load)="saveInstance($event.context)" [options]="c"></chart>
                    </div>
                    <div class="col-md-4 pull-right" *ngIf="selectedPlot=='Hydrograph'">
                        <form #plotForm="ngForm" (ngSubmit)="refreshHydrograph()">
                            <div class="form-group">
                                <label class="col-md-7">Recurrence Interval:</label>
                                <div class="col-md-5">
                                    <select name="recurrence" class="form-control" [(ngModel)]="hydrographs[i].recurrence" required>
                                        <option *ngFor="let r of hChartXAxisValues" [value]="r">{{r}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="padding-top:5px;">
                                <label class="col-md-7">Lag Time (hrs):</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="lagTime" (keypress)="_keyPress($event)" [(ngModel)]="hydrographs[i].lagTime" required>
                                </div>
                            </div>
                            <br clear="all" />
                            <div class="col-md-12">
                                <button type="button" [disabled]="hydrographs[i].recurrence==null || hydrographs[i].lagTime==null" class="btn-wim-primary" (click)="refreshHydrograph(i)">Update chart</button>
                            </div>
                            <br clear="all" />
                        </form>
                    </div><!-- end form for inputs-->
                </div>
            </div>
            <div *ngIf="fChartOptions">
                <div *ngIf="hydroChartsArray.length == 0">
                    <!-- show show/hide button only if there are no hydrographs above it (because that has the button also)-->
                    <h2 style="display:inline-block;margin-right:42px;">Charts</h2>
                    <button style="display:inline-block;" type="button" (click)="showHideCharts()">{{showChartBtn_txt}}</button>
                </div>
                <div class="col-md-11" *ngIf="showCharts_btn">
                    <div style="border:solid gray 1px;display:inline-block;margin-bottom:5px;">
                        <button type="button" class="pull-right" (click)="removeFreqChart()">x</button><br clear="all" />
                        <chart [options]="fChartOptions"></chart>
                    </div>
                </div>
            </div>
        </div>
        <br clear="all"/>

        <!-- appendix section for equation -->
        <h2 id="appendix">Appendix</h2>
        
        <h4>Equations</h4>
        <div *ngFor="let e of equationResults" class="col-md-8">
            <div>{{e.Name}}</div>
            <table style="border:solid 1px gray" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2">Code</th>
                        <th class="col-md-6">Equation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of e.Formulas">
                        <td>{{c.Code}}</td>
                        <td><span [MathJax]="c.Equation">{{c.Equation}}</span></td>
                    </tr>
                </tbody>
           </table>
        </div><!--End equations-->
        <br clear="all"/>
       
        <h4>Parameter Definitions</h4>
        <div class="col-md-8">
            <table style="border:solid 1px gray" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-1">Abbrev</th>
                        <th class="col-md-8">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of uniqueParameters">
                        <td>{{p.Name}}</td>
                        <td>{{p.Code}}</td>
                        <td>{{p.Description}}</td>
                    </tr>
                </tbody>
           </table>
        </div>
    </div>
</div>