/* You can add global styles to this file, and also import other style files */

*{
  font-size: 98% !important;
}
/*
    Multiselect
    Styling
*/
.dropdown,
.dropup,
.dropdown-inline[_ngcontent-c4]{
    width: 100% !important;
}
.dropdown .btn,
.dropup .btn{
    display: block;
    width: 100%;
}

/*
    Results
    Table
    Styling
*/
.table-condensed{
    display: block;
    width: 95%;
}

.MathJax{
  font-size: 140% !important;
}

/*
    Results
    Form Styling
*/
form{
    margin-bottom: 55px;
}

.open>.dropdown-menu{
  /*max-width: 100% !important;*/
}
.wim-sidebar{
  overflow: visible !important;
}
