/* You can add global styles to this file, and also import other style files */

*{
  font-size: 98% !important;
}
/*
    Multiselect
    Styling
*/
.dropdown,
.dropup,
.dropdown-inline[_ngcontent-c4]{
    width: 100% !important;
}
.dropdown .btn,
.dropup .btn{
    display: block;
    width: 100%;
}

/*
    Results
    Table
    Styling
*/
.table-condensed{
    display: block;
    width: 95%;
}

.MathJax{
  font-size: 140% !important;
}

/*
    Results
    Form Styling
*/
form{
    margin-bottom: 55px;
}

.open>.dropdown-menu{
  /*max-width: 100% !important;*/
}
.wim-sidebar{
  overflow: visible !important;
}

.modal {
    z-index: 5000!important;
}

/*11/21 changes*/
.dropdown-toggle{
  overflow: hidden;
}
.dropdown-toggle .caret{
  display: none !important;
}

.wim-sidebar{
  overflow-x: scroll !important;
}

input[type="checkbox"]{
  -webkit-appearance: checkbox !important;
     -moz-appearance: checkbox !important;
     -ms-appearance: checkbox !important;
     -o-appearance: checkbox !important;
     appearance: checkbox !important;
}
input[type="radio"]{
  -webkit-appearance: radio !important;
     -moz-appearance: radio !important;
     -ms-appearance: radio !important;
     -o-appearance: radio !important;
     appearance: radio !important;
}

.simple-btn{
  padding: 6px 11px;
  background-color: #10152C;
  color: white !important;
  border-radius: 4px;
  margin-bottom: 6px !important;
  display: inline-block;
  margin-right: 8px;
}
.simple-btn-link{
  padding: 0 0 0 15px;
  color: #10152C !important;
  margin-bottom: 6px !important;
  display: inline-block;
  margin-bottom: 3px !important;
  margin-right: 8px;
  text-decoration: underline;
}

.mainPage{
  box-sizing: border-box;
  margin-left: 0 !important;
  padding-left: 345px;
}
.mobile-nav-toggle{
  font-size: 32px !important;
  width: 45px !important;
  min-width: 45px !important;
}
.mobile-nav-toggle:before{
  width: 45px !important;
}
.mobile-nav-toggle:focus:before{
  content: '\f20e' !important;
} 
.mobile-nav-toggle:focus {
  transform: none !important;
  -webkit-transform: none !important;
}
.identification{
  font-size: 10px !important;
}
.footer-links a{
  font-size: 9px !important;
  font-weight: bolder;
  opacity: 0.5;
}
#wimSidebar {
  display: block;
}
@media (max-width: 800px) {
  #wimSidebar {
    display: none;
  }
  .wim-sidebar{
    display: none;
    position: fixed;
    max-width: 280px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.12);
    width: 90%;
  }
  .mainPage{
    padding-left: 15px;
  }
  .wim-nav .container .nav-branding img{
    height: 24px !important;
  }
}
@media (max-width: 400px) {
  .wim-nav .container .nav-title{
    font-size: 12px !important;
    line-height: 12px !important;
  }
}


input{
  margin: 5px !important;
}

button:disabled:hover{
  background-color: #F4F5F6;
  color: #a0a9b1;
}

input[type="checkbox"],
input[type="radio"]{
  width: auto !important;
  margin-right: 5px !important;
}

.loading-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 28px;
  letter-spacing: 1px;
  background-color: #FFF;
  color: #10152C;
}

.charts-header{
  font-size: 32px !important;
  letter-spacing: 0 !important;
  display: inline-block;
  margin-right: 42px;
  margin-bottom: 0 !important;
  position: relative;
  top: 8px;
}

.chart-wrapper{
  border: 1px solid rgba(0,0,0,0.3);
  display:inline-block;
  margin-bottom:65px !important;
  max-height: 460px !important;
  padding: 0 !important;
}


.dropdown-item{
  padding-left: 0 !important;
  font-size: 12px !important;
  letter-spacing: -0.5px !important;
}
.dropdown-item a{
  padding-left: 0 !important;
}
.dropdown-item.check-control{
  padding-left: 15px !important;
}

.dropdown-menu{
  max-width: 280px !important;
}

.hidden-print {
  margin-top: 15px;
}

.wim-nav.hidden-print {
  margin-top: 0px !important;
}

input {
    margin: 0px !important;
}
.form-invalid input {
  margin-bottom: 12px !important;
}

.settingsMultSelect {
  background-color: white;
  border: 2px solid #e0e3e6;
}

/* needed smaller table cells */
.col-xs-half {
    width: 4%;
}

.equation {
    margin-bottom: 20px !important;
}

select {
  appearance: menulist;
  -webkit-appearance: menulist;
  }