<div>
    <legend style="margin-bottom:25px;margin-top:0;">Unit Types</legend>
</div>
<button type="button" class="btn-blue" (click)="showNewUnitTypeForm()"><i class="fa fa-plus"
    aria-hidden="tru"></i> Add New Unit Type</button>

<form #UnitTypeForm="ngForm">
    <div class="form-group" *ngIf="unitTypes">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th>Name</th>
                    <th class="col-xs-4">Abbreviation</th>
                    <th class="col-xs-4">Unit System Type ID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of unitTypes; let i = index">
                    <td>
                        <div class="data-controls">
                            <i *ngIf="!u.isEditing" title="Edit Unit Type" (click)="EditRowClicked(i)" class="fa fa-pencil"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>&nbsp;
                            <i *ngIf="!u.isEditing" title="Delete Unit Type" (click)="deleteUnit(u.id)" class="fa fa-times"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="u.isEditing" title="Save Unit Type" (click)="saveUnit(u,i)" class="fa fa-floppy-o"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                            <i *ngIf="u.isEditing" title="Cancel Edit" (click)="CancelEditRowClicked(i)" class="fa fa-history"
                                aria-hidden="true" style="cursor:pointer;padding:5px;"></i>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="!u.isEditing">{{ u.name }}</span>
                        <span *ngIf="u.isEditing"><input type="text" name="name" [(ngModel)]="u.name" required></span>
                    </td>
                    <td>
                        <span *ngIf="!u.isEditing">{{ u.abbreviation }}</span>
                        <span *ngIf="u.isEditing"><input type="text" rows="3" [(ngModel)]="u.abbreviation" name="abbreviation"></span>
                    </td>
                    <td>
                        <span *ngIf="!u.isEditing">{{ u.unitSystemTypeID }}</span>
                        <span *ngIf="u.isEditing"><select class="form-control" name="unitSystemTypeID" [(ngModel)]="u.unitSystemTypeID">
                                <option *ngFor="let usys of unitSystems" [value]="usys.id">{{usys.unitSystem}}</option>
                            </select></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<br />

<!-- new unit type form -->
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="col-xs-12">
            <h4 class="modal-title pull-left">New Unit Type </h4>
            <button class="close pull-right" (click)="d('closed')">x</button>
        </div>
    </div>
    <div class="modal-body">
        <h3 class="modal-title">New Unit Type</h3>
        <form [formGroup]="newUnitForm">
            <!-- Unit Type Name* -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newUnitForm.get('name').valid && newUnitForm.get('name').dirty}">
                <label class="req" for="name">Name:</label>
                <input class="form-control" type="text" formControlName="name" required>
                <div class="input-invalid-warning" *ngIf="!newUnitForm.get('name').valid && newUnitForm.get('name').dirty">Unit
                    Name is required</div>
            </div>

            <!-- Abbreviation* -->
            <div class="form-group">
                <label class="req" for="abbreviation">Abbr:</label>
                <input class="form-control" type="text" formControlName="abbreviation">
                <div class="input-invalid-warning" *ngIf="!newUnitForm.get('abbreviation').valid && newUnitForm.get('abbreviation').dirty">Abbreviation
                    is required</div>
            </div>

            <!-- Unit System Type ID -->
            <div class="form-group required" [ngClass]="{'form-invalid': !newUnitForm.get('unitSystemTypeID').valid && newUnitForm.get('unitSystemTypeID').dirty}">
                <label class="req" for="unitSystemTypeID">Unit System Type ID:</label>
                <select class="form-control" formControlName="unitSystemTypeID">
                    <option *ngFor="let usys of unitSystems" [value]="usys.id">{{usys.unitSystem}}</option>
                </select>
                <div class="input-invalid-warning" *ngIf="!newUnitForm.get('unitSystemTypeID').valid && newUnitForm.get('unitSystemTypeID').dirty">Code
                    is required</div>
            </div>

        </form>

        <div class="modal-footer">
            <button type="button" (click)="d('clicked')" class="btn-black">Cancel</button>
            <button type="button" (click)="createNewUnit()" [disabled]="!newUnitForm.valid" class="btn-blue">Create</button>
        </div>
    </div>
</ng-template>